<%= render "shared/ads_bps" %>

<div id="aboutContainer">
    <div class="aboutTextContainer">
        <div class="aboutHead">
            <h1>Do you have what it takes to compete in the Bass Pro Shops Fishing Tour?</h1>
        </div>
        <div class="aboutPara">
            <h3>New in 2013</h3>
            <ul>
                <li>Amateur Canadian anglers have an exclusive opportunity to participate in the introductory Ontario region of the Bass Pro Shops Fishing Tour!</li>
                <li>All 2013 CSFL [link to csfl.ca] [pop window] events are featured as sanctioned qualifying events.
                <li>Membership fees for the 2013 BPS Fishing Tour are waived for participants in the Ontario Region (individual event registration and CSFL fees still apply)</li>
                <li>Anglers who sign up for the 2013 BPS Fishing Tour will receive a FREE $10 in Bass Pro Shops Outdoor Rewards points.  Sign Up Now for Outdoor Rewards. [link] [pop window]</li>
            </ul>
            <h3>What is the cost of membership?</h3>
            <ul>
                <li>That’s the best part! Membership in the 2013 BPS Fishing Tour is ABSOLUTELY FREE OF CHARGE, but you can land some lucrative lunkers in the form of exclusive benefits and rewards.</li>
            </ul>
            <h3>What are the benefits and rewards?</h3>
            <ul>
                <li>Track your and your team’s performance and that of other anglers online</li>
                <li>A $1,000 Bass Pro Shops Gift Card awarded to the winner of the Ontario Region Bass Pro Fishing Tour</li>
                <li>Bass Pro Shops Gift Cards to the winners of Tour sanctioned CSFL events</li>
                <li>Free entry into the Regional Championship event – the Lake Simcoe Open – for the top ten highest scoring teams from the Ontario Region</li>
                <li>A $20,000 purse to the winners of the Lake Simcoe Open</li>
                <li>The Ability to earn up to $5,000 with Bass Pro Shops Tournament Rewards</li>
            </ul>
            <h3>Who is eligible?</h3>
            <ul>
                <li>The Bass Pro Shops Fishing Tour is for amateur anglers only.  Professional anglers are not eligible.</li>
                <li>Competitors must be 18 years of age or older</li>
                <li>Anglers meeting any of the following criteria are not eligible:</li>
                    <ol type="a">
                        <li>Anglers who have guided professionally for a fee within the 12 months immediately preceding a sanctioned qualifying Fishing Tour event</li>
                        <li>Anglers who have won $10,000 or more within the last 12 months preceding a sanctioned qualifying Fishing Tour event</li>
                        <li>Anglers competing as professionals in the B.A.S.S. Elite Series, B.A.S.S. Opens, FLW Tour, FLW Everstart Series and PAA Series. </li>
                        <li>Anglers who have professional career tournament earnings in excess of $250,000</li>
                    </ol>
                <li>Each team member must be a registered Bass Pro Shops Outdoor Rewards member to participate.</li>
                <li>Anglers must meet all Federal, State and Local boating regulations at all times.</li>
                <li><a href="/profiles/new">Register now!</a></li>
            </ul>


            <h3>Rules & Regulations</h3>
            <ul>
                <li>To complete in sanctioned qualifying events, team members must complete the team registration process through the BPS Fishing Tour website.</li>
                <li>Membership fees must be paid in full prior to event registration (fees waived in 2013).</li>
                <li>Once registered as a team, either team member is eligible to register as the team to fish in sanctioned qualifying events through the BPS Fishing Tour website.</li>
                <li>Teams must be registered for qualifying tournament events through the BPS Fishing Tour website prior to the start of the qualifying tournament in order for the tournament results to count.</li>
                <li>The BPS Fishing Tour is a sanctioning program run separately from participating tournament events.  All fees, rules, registration processes and other pre-existing requirements for sanctioned qualifying events STILL APPLY in conjunction with the stated rules of the BPS Fishing Tour.</li>
                <li>Any contestants found to be in violation of any tournament rules and regulations will be subject to disqualification from the qualifying tournament and all future qualifying events.</li>
                <li>Each team must fish a minimum of 5 qualifying events.</li>
                <li>There is no limit to the number of qualifying events that can be fished by each team, but only the lowest 5 scores count towards qualification for the Regional Championship.</li>
                <li>BPS Fishing Tour members must display the BPS Fishing Tour decal on boat and tow vehicle.</li>
            </ul>

            <h3>Scoring</h3>
            <ul>
                <li>Teams that have pre-registered for qualifying events through the BPS Fishing Tour website and complete the event will be awarded points based on their finishing position.</li>
                <li>The best scores, are LOW scores.</li>
                <li>1 point will be awarded for 1st place, 2 points for second, etc.  down to 50 points.</li>
                <li>Anglers finishing 50th place and below will receive 50 points.</li>
                <li>A team’s best 5 finishes count towards their cumulative point total.</li>
            </ul>
            <h3>For example, team John Bass / Jim Bass competed in 7 regional qualifying events</h3>
            <ul>
                <li>Event 1 result: 25th place = 25 points</li>
                <li>Event 2 result: 11th place = 11 points</li>
                <li>Event 3 result:   3rd place = 3 points</li>
                <li>Event 4 result: 71st place = 50 points (thrown out)</li>
                <li>Event 5 result: 52nd place = 50 points</li>
                <li>Event 6 result: 14th place = 14 points</li>
                <li>Event 7 result: 66th place = 50 points (thrown out)</li>
                <li>Best 5 finishes are events 1,2,3,5,6 = 103 qualifying points</li>
            </ul>


            <h3>Still have questions?</h3>
            <ul>
                <li>Contact us here: rickemmitt@basspro.com</li>
            </ul>
        </div>
    </div>
</div>