<div id="backgroundMain">
    <div id="wrapper">
        <div class="bannerTopBackground">
            <div class="bannerTop">
                <div class="bassFishingLogo">
                    <div class="standingsLogo">

                    </div>
                    <img class="bassLogo" src="/assets/bassProLogo.png" alt="Bass Logo">
                </div>

                <div class="loginTop">
                    <div class="loginIcon">
                        <h2>Help</h2>
                    </div>
                    <div class="loginIconLine">
                        |
                    </div>
                    <div class="loginIcon">
                        <a href="/users/sign_in"><h2>Login</h2></a>
                    </div>
                </div>

                <div class="navTop">
                    <div class="navIcon">
                        <h2>About</h2>
                    </div>
                    <div class="navIcon">
                        <h2>Tour Events</h2>
                    </div>
                    <div class="navIcon">
                        <h2>Leaderboard</h2>
                    </div>
                    <div class="navIcon">
                        <h2>News</h2>
                    </div>
                    <div class="navIcon">
                        <h2>Anglers</h2>
                    </div>
                    <div class="navIcon">
                        <a href="/profiles/new"><h2>Register</h2></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="bannerSmallTopBackground">
            <div class="bannerSmallTop">
                <div class="bannerBigText">
                    <div class="bannerBigTextCont"><h2>Welcome to the events page! Checkout our lineup below.</h2></div>
                    <div class="bannerBigTextCont"><h1>Choose your region below to find the tournaments near you. </h1></div>
                </div>
            </div>
        </div>

        <div class="bannerMiddleBackground">
            <div class="bannerMiddleEvent">
                <dul class="findAnEvent">
                    <div class="findAnEventText"><h4>FIND AN EVENT</h4></div>
                </div>
                <div class="bassEventMap"></div>
                <div class="bassEventAttend">
                    <div class="bassEventAttendBackbround">
                        <div class="bassEventAttendContainer">
                            <div class="bassEventAttendText">
                                <h2>TOP BASS FISHING SERIES</h2>
                                <p>52 Haida Drive, Aurora, ON Canada L4G 3C8</p>
                            </div>
                            <div class="bassEventAttendButton">
                                <h2>ATTEND</h2>
                            </div>
                        </div>
                    </div>
                    <div class="bassEventAttendBackbround">
                        <div class="bassEventAttendContainer">
                            <div class="bassEventAttendText">
                                <h2>TOP BASS FISHING SERIES</h2>
                                <p>52 Haida Drive, Aurora, ON Canada L4G 3C8</p>
                            </div>
                            <div class="bassEventAttendButton">
                                <h2>ATTEND</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="bannerBottomSponsorBackground">
            <div class="bannerBottomSponsor">
                <div class="sponsorArea">
                    <img class="sponsorLogo" src="/assets/trackerLogo.png" alt="Bass Logo">
                    <img class="sponsorLogo" src="/assets/notroLogo.png" alt="Bass Logo">
                    <img class="sponsorLogo" src="/assets/mercuryLogo.png" alt="Bass Logo">
                    <img class="sponsorLogo" src="/assets/planoLogo.png" alt="Bass Logo">
                    <img class="sponsorLogo" src="/assets/toyotaLogo.png" alt="Bass Logo">
                    <img class="sponsorLogo" src="/assets/bassProLogoBottom.png" alt="Bass Logo">
                </div>
            </div>
        </div>

        <div class="bannerBottomBackground">
            <div class="bannerBottom">
                <div class="navBottom">
                    <div class="navIconBot">
                        About
                    </div>
                    <a href="/profiles/new"><div class="navIconBot">
                        Register Yout Team
                    </div></a>
                    <div class="navIconBot">
                        Find an Event
                    </div>
                    <div class="navIconBot">
                        Leaderboard
                    </div>
                    <div class="navIconBot">
                        News
                    </div>
                    <div class="navIconBot">
                        Team Profiles
                    </div>
                    <div class="navIconBot">
                        My Account
                    </div>
                    <div class="navIconBot">
                        Contact Us
                    </div>
                </div>

                <div class="navBottomLegal">
                     <p>2013©  BPS Direct, L.L.C. All rights reserved.</p>
                </div>
            </div>
        </div>

    </div>
</div>