<div id="backgroundMain">
    <div id="wrapper">
        <div class="bannerSmallTopBackground">
            <div class="bannerSmallTop">
                <div class="bannerBigText">
                    <div class="bannerBigTextCont"><h2>Discover events to reel in the points! </h2></div>
                    <div class="bannerBigTextCont"><h1>Choose your region below to find tournaments near you. </h1></div>
                </div>
            </div>
        </div>

        <div class="bannerMiddleBackground">
            <div class="bannerMiddleEvent">
                <dul class="findAnEvent">
                    <div class="findAnEventText"><h4>FIND AN EVENT</h4></div>
                </div>
                <div class="bassEventMap"></div>
                <div class="bassEventAttend">
                    <div class="bassEventAttendBackbround">
                        <div class="bassEventAttendContainer">
                            <div class="bassEventAttendText">
                                <h2>TOP BASS FISHING SERIES</h2>
                                <p>52 Haida Drive, Aurora, ON Canada L4G 3C8</p>
                            </div>
                            <div class="bassEventAttendButton">
                                <h2>ATTEND</h2>
                            </div>
                        </div>
                    </div>
                    <div class="bassEventAttendBackbround">
                        <div class="bassEventAttendContainer">
                            <div class="bassEventAttendText">
                                <h2>TOP BASS FISHING SERIES</h2>
                                <p>52 Haida Drive, Aurora, ON Canada L4G 3C8</p>
                            </div>
                            <div class="bassEventAttendButton">
                                <h2>ATTEND</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>