<%= render "shared/ads_bps" %>

<div id="aboutContainer">
    <div class="staticContainer">
        <div class="aboutHead">
            <h1>Bass Pro Shops Fishing Tour Help Page</h1>
        </div>

        <div class="aboutPara">

            <h3>FAQ’s</h3>
                We want to make sure that our anglers get the most out of the Bass Pro Shops Fishing Tour. Following is a list of frequently asked questions and answers. If you have questions that are not addressed below, or if you have general feedback, we would like to hear from you. Please email us at <a href="mailto:rickemmitt@basspro.com?subject=Bass Pro Fishing Tour Question" id="contact-us">support@bassprofishingtour.com</a>
                </br></br>

            <h3>Why should I join the Bass Pro Shops Fishing Tour?</h3>
            <ul>
                <li>In addition to the winnings available with each individual tournament, you can earn extra prizes and rewards from Bass Pro Shops!</li>

                <li>See full details under the <a href="/about">About</a> section of the site.</li>
            </ul>

            <h3>Who is eligible for the Bass Pro Shops Fishing Tour?</h3>
            <ul>
                <li>Teams of amateur anglers, 18 years of age and older, are welcome to join the Bass Pro Shops Fishing Tour. To be considered an active team, both teammates must register through the website at BassProFishingTour.com.</li>

                <li>Additional rules apply, visit the <a href="/about">About</a> section of the site for full details.</li>
            </ul>

            <h3>How do I sign up for the Bass Pro Shops Fishing Tour?</h3>
            <ul>
                <li>To be eligible for the benefits and rewards from the Bass Pro Shops Fishing Tour, anglers must complete individual registration and must invite and confirm a team partnership. Both parties must be registered through the site. Registration is a simple, secure process.</li>

                <li>Click here to <a href="/users/sign_up">Register now!</a></li>
            </ul>

            <h3>What can I do as a registered user of the Bass Pro Shops Fishing Tour website?</h3>
            <ul>
                <li>The Bass Pro Shops Fishing Tour website will be your primary source for information and updates regarding the Tour. As a registered user you will have your own secure account where you can update your personal and team information. Your team can add events that you will be fishing to your “My Tour” tab. You cannot register to fish individual tournaments through this site at this time. Tournament registration must be done directly with the tournament host. In addition, you can monitor your standings in the Bass Pro Shops Fishing Tour as well as your competition!</li>

                <li>Click here to <a href="/users/sign_up">Register now</a>, or if you are already registered <a href="/users/sign_in">Log In</a> to update your Tour!</li>
            </ul>
        </div>
    </div>
</div>