<h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>

<!DOCTYPE HTML>
<html lang="en">
<html>
<head>
    <meta charset="utf-8">
    <title>Bass Pro Shop Homepage</title>
    <link rel="stylesheet" type="text/css" href="forms.css.scss">
</head>
<body>
<div id="backgroundMain">
    <div id="wrapper">
        <div class="bannerTop">
            <div class="bassFishingLogo">
                <div class="standingsLogo">
                    <img src="/assets/standingsBackground.png" alt="Standings">
                    <div class="standingsText">
                        <h2>Standings</h2>
                        <h1>Midwest Region</h1>
                        <p>Jason Cambel</p>
                        <p>Jason Cambel</p>
                        <p>Jason Cambel</p>
                        <p>Jason Cambel</p>
                        <p>Jason Cambel</p>

                    </div>
                </div>
                <img class="bassLogo" src="/assets/bassProLogo.png" alt="Bass Logo">
            </div>

            <div class="loginTop">
                <div class="loginIcon">
                    <h2>Help</h2>
                </div>
                <div class="loginIconLine">
                    |
                </div>
                <div class="loginIcon">
                    <h2>Login</h2>
                </div>
            </div>

            <div class="navTop">
                <div class="navIcon">
                    <h2>About</h2>
                </div>
                <div class="navIcon">
                    <h2>Tour Events</h2>
                </div>
                <div class="navIcon">
                    <h2>Leaderboard</h2>
                </div>
                <div class="navIcon">
                    <h2>News</h2>
                </div>
                <div class="navIcon">
                    <h2>Anglers</h2>
                </div>
                <div class="navIcon">
                    <h2>Register</h2>
                </div>
            </div>
        </div>

        <div class="bannerBigTop">
            <div class="bannerBigText">
                <h2>
                    Test the waters with a Free account or Start competing today!
                </h2>
                <h1>Get your team on board the Bass Pro Fishing tour and take your first step to winning prizes and reaching qualifying regional and national events to get started with a free account. </h1>
                <img class="createAccountLogo" src="/assets/createAccountLogo.png" alt="Leader Logo">
            </div>
            <img class="bassImage1" src="/assets/bannerBigImage.png" alt="Bass Image">
        </div>

        <div class="bannerMiddle">
            <div class="bassHandContainer">
                <img class="bassHand" src="/assets/bassHandImage.png" alt="Bass Hand">
                <div class="bassHandText">
                    <h3>THE 2014 BASS PRO SHOPS FISHING TOUR</h3>
                    <h1>About the Tour</h1>
                    <h2>Welcome to the Basee Pro Shops Fishing Tour<h2>
                    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitati Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitatiLorem ipsum dolor sit amet, consectetur</p>
                </div>
            </div>S
            <div class="glowBackground"></div>
            <div class="eventLeaderContainer">
                <div class="findEvent">
                    <img class="eventLogo" src="/assets/eventLogo.png" alt="Event Logo">
                </div>
                <div class="leaderboard">
                    <img class="leaderLogo" src="/assets/leaderboardLogo.png" alt="Leader Logo">
                </div>
            </div>
            <div class="eventLeaderContainerText">
                <div class="findEventText">
                    <h1>Find an Event</h1>
                    <p>Locate a Fishing Tour event near you. then register your team to participate.</p>
                    <h3>Locate Event</h3>
                </div>
                <div class="leaderboardText">
                    <h1>Leaderboard</h1>
                    <p>If you've recently participated in your local Fishing Tour event, don't forget to submit tour team results!</p>
                    <h3>Locate Event</h3>
                </div>
            </div>
        </div>

        <div class="bannerBottomSponsor">
            <div class="sponsorArea">
                <img class="sponsorLogo" src="/assets/trackerLogo.png" alt="Bass Logo">
                <img class="sponsorLogo" src="/assets/notroLogo.png" alt="Bass Logo">
                <img class="sponsorLogo" src="/assets/mercuryLogo.png" alt="Bass Logo">
                <img class="sponsorLogo" src="/assets/planoLogo.png" alt="Bass Logo">
                <img class="sponsorLogo" src="/assets/toyotaLogo.png" alt="Bass Logo">
                <img class="sponsorLogo" src="/assets/bassProLogoBottom.png" alt="Bass Logo">
            </div>
        </div>

        <div class="bannerBottom">
            <div class="navBottom">
                <div class="navIconBot">
                    About
                </div>
                <div class="navIconBot">
                    Register Yout Team
                </div>
                <div class="navIconBot">
                    Find an Event
                </div>
                <div class="navIconBot">
                    Leaderboard
                </div>
                <div class="navIconBot">
                    News
                </div>
                <div class="navIconBot">
                    Team Profiles
                </div>
                <div class="navIconBot">
                    My Account
                </div>
                <div class="navIconBot">
                    Contact Us
                </div>
            </div>

            <div class="navBottomLegal">
                 <p>2013©  BPS Direct, L.L.C. All rights reserved.</p>
            </div>
        </div>
    </div>
</div>
</body>

</html>