<div class="thankContainer">
    <div class="bassLoginLogoThankText">
        <h1>Thanks!</h1>
        <h1>Get started with My Tour today!</h1>
        <h1>Register your team for the Bass Pro Shops Fishing Tour.</h1>
        <p>A Team Membership allows you and your partner to compete in sanctioned Bass Pro Shops Fishing Tour events for prizes and the chance to qualify for regional and national championship tournaments.  Learn more about</p> <%= link_to 'Team Membership Benefits.', about_path %>
    </div>

    <div class="thankContainerBottom">
        <%= link_to 'Create Your Profile', edit_profile_path(@user.profile.id), class: 'thankRegButton' %>
        <%= link_to 'Skip', '#', class: 'thankRegSkip' %>
    </div>
</div>