<div class="thankContainer">
    <div class="bassLoginLogoThank">
        <%= image_tag 'bassLoginLogo.png', alt: 'Bass Logo' %>
    </div>
    <div class="bassLoginLogoThankText">
        <h1>Thanks!</h1>
        <h1>Get started with My Tour today!</h1>
        <h1>Register your team for the Bass Pro Shops Fishing Tour.</h1>
        <p>A Team Membership allows you and your partner to compete in sanctioned Bass Pro Shops Fishing Tour events for prizes and the chance to qualify for regional and national championship tournaments.  Learn more about</p> <a href="#">Team Membership Benefits.</a>
    </div>

    <div class="thankContainerBottom">
        <div class="thankRegButton"><a href="#">Register your team</a></div>
        <div class="thankRegSkip"><a href="#">Skip</a></div>
    </div>
</div>