<div class="teamEvents">
    <div class="topDarkBrown">
        <%= image_tage 'iconCal.png', class:  %>
        <img class="iconSmallEvents" src="/assets/iconCal.png" alt="Icon">
        <h2>Team Events</h2>
    </div>
    <table>
        <div class="topLightBrown">
            <thead>
                <th>Date</th>
                <th>Event Title</th>
                <th>Points</th>
            </thead>
        </div>s
        <div class="bottomBrown">
            <tbody>
                <% @myEvents.each do |event| %>
                    <td>event.date</p>
                    <td>event.name</td>
                    <td>event.date</td>
                <% end %>
            </tbody>
        </div>
    </table>
</div>