<div class="team-score">
<img class="team-photo"/>
<h2 class="team-name"><%="#{team.users.first.profile.last_name}/#{team.users.last.profile.last_name}"%></h2>
<span class="team-points"><%= "#{team.total_score}"%></span>
</div>
