<%= render "shared/ads_bps" %>

<div id="leaderContainer">
    <div class="leaderListContainer">
        <div class="leaderTopBar">
            <%= image_tag 'iconMed.png', class: 'iconLeader', alt: 'Anglers' %>
            <h1>Leaderboard</h1>
        </div>

        <div class="leaderBotCont">
            <div class="leaderGroup">
                <div class="leaderNumber">
                    <p>1</p>
                    <p>1</p>
                    <p>1</p>
                    <p>1</p>
                    <p>1</p>
                    <p>1</p>
                    <p>1</p>
                </div>
                <div class="leaderName">
                    <p>BoB Mo</p>
                    <p>BoB Mo</p>
                    <p>BoB Mo</p>
                    <p>BoB Mo</p>
                    <p>BoB Mo</p>
                    <p>BoB Mo</p>
                    <p>BoB Mo</p>
                </div>
                <div class="leaderPoint">
                    <p>23 pt.</p>
                    <p>23 pt.</p>
                    <p>23 pt.</p>
                    <p>23 pt.</p>
                    <p>23 pt.</p>
                    <p>23 pt.</p>
                    <p>23 pt.</p>
                </div>
            </div>
        </div>
    </div>
</div>