<%= render "shared/ads_bps" %>

<div id="leaderContainer">
    <div class="leaderListContainer">
        <div class="leaderTopBar">
            <%= image_tag 'iconMed.png', class: 'iconLeader', alt: 'Anglers' %>
            <h1>Leaderboard</h1>
        </div>

        <div class="leaderBotCont">
            <p>The Bass Pro Fishing Tour just got started, so we don't have event data yet.  Check back later for results from our first event!</p>
        </div>
    </div>
</div>