<%= render "shared/ads_bps" %>

<div id="anglersContainer">
    <div class="anglersListContainer">
        <div class="anglersTopBar">
            <%= image_tag 'iconAnglers.png', class: 'iconAnglers', alt: 'Anglers' %>
            <h1>Anglers</h1>
        </div>

        <div class="anglersBotCont">
            <h2>Find a friend, or your new rival.</h2>
            <div class="anglersGroup">
                <% @directory.each_key do |letter| %>
                    <h2><%= letter %></h2>
                    <% @directory[letter].each do |name| %>
                        <p><%= link_to name[:name], profile_path(name[:id]) %></p>
                    <% end %>
                <% end %>
            </div>
        </div>
    </div>
</div>