<%= render "shared/ads_bps" %>

<div id="anglersContainer">
    <div class="staticContainer">
        <div class="staticTopBar topBlue">
            <%= image_tag 'iconAnglers.png', class: 'iconAnglers', alt: 'Anglers' %>
            <h1>Anglers</h1>
        </div>

        <div class="anglersBotCont">
            <h1>Find a friend, or your new rival.</h1>
            <div class="anglersGroup">
                <% @directory.each_key do |letter| %>
                    <div class="anglersOrder">
                        <h2><%= letter %></h2>
                        <% @directory[letter].each do |name| %>
                            <p><%= link_to name[:name], profile_path(name[:id]) %></p>
                        <% end %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>