<div class="teamRegContainer">
    <div class="topGreenBanner">
        <p>Team Registration</p>
    </div>

    <div class="teamRegContainerForm">
        <div class="regTopText">
            <h3>Team Up!</h3>
            <div class="divideLine"></div>
            <% if @unregistered_user %>
                <div class="inviteToJoin">
                    <p>Ask Them To Join You!</p>
                    <%= link_to "Invite #{@unregistered_user[:first_name]}", send_invite_path(user: @unregistered_user) %>
                </div>
            <% end %>
        </div>
    </div>
    <div class="actions">
        <%= link_to 'Back', profiles_path %>
        <%= submit_tag :continue, value: 'Continue' %>
    </div>