<%= render "shared/ads_bps" %>

<div id="invitationCont">
    <div class="invitationText">
        <div class="invitationHead">
            <h1>You have the following Pending Team Request</h1>
        </div>
        <table>
            <tr>
                <th>Invited By</th>
                <th>Accept</th>
                <th>Reject</th>
            </tr>
            <% @invites.each do |invitation| %>
                <tr>
                    <td><%= User.find(invitation.requester).full_name.blank? ? User.find(invitation.requester).email : User.find(invitation.requester).full_name %></td>
                    <td><%= link_to "Accept Invitation", accept_invite_path(invitation.id) %></td>
                    <td><%= link_to "Don't Join", reject_invite_path(invitation.id) %></td>
                </tr>
            <% end %>
        </table>
    </div>
</div>
