<div class="alert alert-block alert-warning">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <p><strong>We need to know your Outdoor Rewards number</strong></p>
    <p>In order to be eligible to win, we need you to provide us with your outdoor rewards number.  Please head to the "My Account" tab on <%= link_to 'your profile page', my_profile_path %> and fill in your information.</p>
</div>
