<div class="alert alert-block alert-error">
    <p><strong>We need to know your name!</strong></p>
    <p>In order to show up on the <%= link_to 'leaderboard', leaderboard_path %> or on the <%= link_to 'list of anglers', anglers_path %>, we need you to provide us with your first and last name.  Please head to the "My Account" tab on <%= link_to 'your profile page', my_profile_path %> and fill in your information.</p>
</div>
