<div class="alert alert-error">
    <p><strong>You need a teammate!</strong></p>
    <p>In order to show up on the <%= link_to 'leaderboard', leaderboard_path %> or <%= link_to 'sign up for events', events_path %>, your teammate must accept your invitation to officially be paired together. Our records show this step hasn't been completed.  If you wish to re-send their teammate request, head over to the <%= link_to 'teammate request form', requests_new_path %>.</p>
</div>
