<div class="alert alert-error">
    <p><strong>You need a teammate!</strong></p>
    <p>In order to show up on the <%= link_to 'leaderboard', leaderboard_path %> or <%= link_to 'sign up for events', events_path %>, we need you to request a teammate.  Please input the email address of your desired teammate into the <%= link_to 'teammate request form', requests_new_path %>.</p>
</div>
