<% content_for :advertise do %>
    <div class="standingsLogo">
        <div class="adSpace"></div>
        <div class="verticalAds">
            <%= image_tag 'ad1.png', class: 'adImg', alt: 'Ad' %>
            <%= image_tag 'ad2.png', class: 'adImg', alt: 'Ad' %>
            <%= image_tag 'ad3.png', class: 'adImg', alt: 'Ad' %>
            <%= image_tag 'ad4.png', class: 'adImg', alt: 'Ad' %>
        </div>
    </div>
<% end %>