<% content_for :advertise do %>
    <div class="standingsLogo">
        <div class="adSpace"></div>
        <%= image_tag 'ad1.png', class: 'adImg', alt: 'Ad' %>
        <%= image_tag 'ad2.png', class: 'adImg', alt: 'Ad' %>
        <%= image_tag 'ad3.png', class: 'adImg', alt: 'Ad' %>
        <%= image_tag 'ad4.png', class: 'adImg', alt: 'Ad' %>
    </div>
<% end %>