<% content_for :advertise do %>
    <div class="standingsLogo">
        <div class="adSpace"></div>
        <div class="verticalAds">
            <%= image_tag 'ad1.jpg', class: 'adImg', alt: 'Ad' %>
            <%= image_tag 'ad2.jpg', class: 'adImg2', alt: 'Ad' %>
            <%= image_tag 'ad3.jpg', class: 'adImg3', alt: 'Ad' %>
            <%= image_tag 'ad4.jpg', class: 'adImg4', alt: 'Ad' %>
        </div>
    </div>
<% end %>