<% content_for :advertise do %>
    <div class="standingsLogo">
        <div class="adSpace"></div>
        <div class="verticalAds">
            <a href="http://www.basspro.com/" target="_blank"><%= image_tag 'ad1.jpg', class: 'adImg', alt: 'Ad' %></a>
            <a href="https://apps.facebook.com/ridewiththepro/" target="_blank"><%= image_tag 'ad2.jpg', class: 'adImg2', alt: 'Ad' %></a>
            <a href="http://csfl.ca/" target="_blank"><%= image_tag 'ad3.jpg', class: 'adImg3', alt: 'Ad' %></a>
            <%= image_tag 'ad4.jpg', class: 'adImg4', alt: 'Ad' %>
        </div>
    </div>
<% end %>