<div class="tourContrainer">

    <div class="bannerMiddleBackground">
        <div class="bannerMiddleEvent">
            <div class="findAnEvent">
                <div class="findAnEventText"><h2>FIND AN EVENT</h2></div>
                <div class="findAnEventSmall"><h2>Ontario, Canada Region </br> Competitive Sports Fishing League Events</h2></div>
            </div>
            <div class="bassEventMap">
                <div id="mapContainer">
                    <div id="slideshow">
                        <div id="slidesContainer">
                            <div class="slide">
                                <div class="mapTextContainer">
                                    <h2>BM Central </br> Tour Events </h2>
                                </div>
                                <img class="mapOntario" src="/assets/mapOntario.png">
                            </div>
                            <div class="slide">
                                <div class="mapTextContainer">
                                    <h2>Competitive Sports </br> Fishing League Events</h2>
                                </div>
                            <p>
                            </div>
                            <div class="slide">
                                <div class="mapTextContainer">
                                    <h2>Competitive Sports </br> Fishing League Events</h2>
                                </div>
                            </div>
                            <div class="slide">
                                <div class="mapTextContainer">
                                    <h2>Competitive Sports </br> Fishing League Events</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bassEventAttend">
              <% @events.each do |event| %>
                <div class="bassEventAttendBackbround">
                  <div class="bassEventAttendContainer">
                      <div class="bassEventAttendText">
                          <h2><%= event.name %></h2>
                          <p><%= "#{event.address}, #{event.city}, #{ event.province || event.state } #{event.country} #{event.postal_code}" %></p>
                      </div>
                      <%= button_to "Details", event_path(event), class: 'bassEventAttendButton', method: :get %>
                  </div>
                </div>
              <% end %>
            </div>
        </div>
    </div>
</div>

