<div id="backgroundMain">
    <div id="wrapper">
        <div class="bannerSmallTopBackground">
            <div class="bannerSmallTop">
                <div class="bannerBigText">
                    <div class="bannerBigTextCont"><h2>Welcome to the events page! Checkout our lineup below.</h2></div>
                    <div class="bannerBigTextCont"><h1>Choose your region below to find the tournaments near you. </h1></div>
                </div>
            </div>
        </div>

        <div class="bannerMiddleBackground">
            <div class="bannerMiddleEvent">
                <div class="findAnEvent">
                    <div class="findAnEventText"><h4>FIND AN EVENT</h4></div>
                </div>
                <div class="bassEventMap"></div>
                <div class="bassEventAttend">
                  <% @events.each do |event| %>
                    <div class="bassEventAttendBackbround">
                      <div class="bassEventAttendContainer">
                          <div class="bassEventAttendText">
                              <h2><%= event.name %></h2>
                              <p>5<%= "#{event.address}, #{event.city}, #{ event.province || event.state } #{event.country} #{event.postal_code}" %></p>
                          </div>
                          <div class="bassEventAttendButton">
                              <h2>ATTEND</h2>
                          </div>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

