<div id="newsContainer">
    <div class="staticContainer">
        <div class="staticTopBar topDarkBrown">
            <%= image_tag 'iconNews.png', class: 'iconNews', alt: 'Anglers' %>
            <h1><%= link_to 'News', news_path %></h1>
        </div>

        <div class="newsBotCont">
            <div class="mediaCont">
                <div class="article">
<h2>A Reminder About Tour Eligibility</h2>

<p>As the 2013 Bass Pro Shops Fishing Tour rounds out the last few sanctioned CSFL tournaments of the year, we would like to thank you for your interest in the Tour and remind our anglers of the rules for eligibility.  Each angler team member must be a registered Bass Pro Shops Outdoor Rewards program member with a valid outdoor rewards number.   What else is in it for you?  We'd like to thank the 2013 Tour participants with a FREE $10 in rewards points just for having registered!  In addition, the winners of individual Tour events receive $50 each in rewards points.  We need those numbers in order to hook you up!  If you don't have an Outdoor Rewards number – you need one!  Visit <%= link_to 'What is the Outdoor Rewards Program?', 'http://www.basspro.com/webapp/wcs/stores/servlet/CMSContentView?storeId=10151&catalogId=10051&fileName=rewardsAboutOurProgram', target: '_blank' %> for more information about Bass Pro Shops Outdoor Rewards membership.  If you already have an outdoor rewards number, please verify your number within your profile on the Tour site.  </p>

<p>In addition, only registered amateur anglers as defined in the <%= link_to 'Rules and Regulations', about_path %>, ages 18 or older, are eligible for The Bass Pro Shops Fishing Tour.  Any anglers participating on more than one team or not meeting the criteria listed in the rules and regulations section on the site, are not eligible for rewards or winnings awarded by The Bass Pro Shops Fishing Tour.  Any angler found to be in violation of eligibility requirements will be disqualified, deeming their team disqualified from the program in 2013.</p>

<p>On behalf of the Bass Pro Shops Fishing Tour, we thank you for your participation as we strive to bring all participating anglers a fair and rewarding experience!</p>
                </div>
            </div>
        </div>
    </div>
</div>
