<div id="newsContainer">
    <div class="staticContainer">
        <div class="staticTopBar topDarkBrown">
            <%= image_tag 'iconNews.png', class: 'iconNews', alt: 'Anglers' %>
            <h1><%= link_to 'News', news_path %></h1>
        </div>

        <div class="newsBotCont">
            <div class="mediaCont">
                <div class="article">
<h2>A Reminder About Tour Eligibility</h2>

<p>As the Bass Pro Shops Fishing Tour rounds out the last tournaments of the CSFL season, we would like to remind our anglers of the rules for eligibility. Only registered amateur anglers as defined in the Rules and Regulations, ages 18 or older, are eligible for rewards and winnings awarded by The Bass Pro Shops Fishing Tour.  Any anglers participating on more than one Bass Pro Shops Fishing Tour Team, younger than 18 years of age and/or meet the unacceptable criteria listed in the Rule and Regulations on the site, are not eligible for rewards or winnings awarded by The Bass Pro Shops Fishing Tour. Any angler in violation of the rules and regulations will be disqualified, deeming their team disqualified from the program.</p>

<p>In addition, each angler team member must be a registered Bass Pro Shops Outdoor Rewards member with an activated account number. Visit <%= link_to 'What is the Outdoor Rewards Program?', 'http://www.basspro.com/webapp/wcs/stores/servlet/CMSContentView?storeId=10151&catalogId=10051&fileName=rewardsAboutOurProgram', target: '_blank' %> for more information about Bass Pro Shops Outdoor Rewards membership.</p>

<p>On behalf of the Bass Pro Shops Fishing Tour, we thank you for your cooperation as we strive to bring our amateur anglers a fair and rewarding experience!</p>
                </div>
            </div>
        </div>
    </div>
</div>
