<div id="newsContainer">
    <div class="staticContainer">
        <div class="staticTopBar topDarkBrown">
            <%= image_tag 'iconNews.png', class: 'iconNews', alt: 'Anglers' %>
            <h1><%= link_to 'News', news_path %></h1>
        </div>

        <div class="newsBotCont">
            <div class="mediaCont">
                <div class="article">
<h2>Competitive Sport Fishing League Announcement</h2>

<p>Toronto, Ontario – Friday, June 28, 2013, the Competitive Sport Fishing League announced today BASS PRO SHOPS, the world’s largest outdoor retailer has chosen the CSFL and its anglers to help develop its new Bass Pro Shops Fishing Tour that will unite top anglers from across North America in search of the Ultimate Angler!</p>

<p>BASS PRO SHOPS Corporate USA, BASS PRO SHOPS Vaughan Mills and GROUP 360 Worldwide, the marketing firm that has been chosen by BPS to spear head this new venture, have formed the BPS Fishing Tour. This tour will work hand in hand through the multiple divisions of the CSFL to create a flawless program. This program will be unveiled in 2014 along with a very interactive North American website uniting anglers from coast to coast with no border. The BPS Fishing Tour is designed to include hundreds of events recognized by their local BASS PRO SHOP Outlet and will be based on angler performance within their own respective tour.
CSFL Anglers will be able to access the website in it's early stages and be able to follow the developments of the Tour and track their own performance by logging onto <a href="http://bassprofishingtour.com/">bassprofishingtour.com</a>.</p>

<p>Please note, anglers that have participated in the Casey Cup, the Sparrow Lake BM100 or the two Lake Erie Southwestern events can still utilize these event points by simply registering your Outdoor Rewards Card at BPS. CSFL anglers without Bass Pro Shops Outdoor Rewards Card are encouraged to take part by simply registering at BASS PRO SHOP in Vaughn Mills or on line.</p>

<p>To be eligible both members of the team must be registered. CSFL Anglers can utilize up to 5 events of any CSFL Qualifiers including the BM Regional Cup and the CSFL National Classic.</p>

<p>The top Outdoor Rewards Card team at each event will each receive $50.00 on their Rewards Card that can be redeemed at BASS PRO SHOP and will receive one point for their finish regardless of event placing. The second Outdoor Rewards Card holder team will receive two points for their finish and so forth. Anglers can participate in as many qualifying events as they wish utilizing only their top five events. The top ten teams with the lowest points utilizing a maximum of five CSFL Qualifiers will receive a free entry into the 2013 BPS Simcoe Open. Qualified anglers that have already entered the BPS Simcoe Open will receive $400.00 on their Outdoor Rewards Card.  These top ten teams will continue to compete amongst themselves at the BPS Simcoe Open for two $500.00 Outdoor Rewards bucks in appreciation of supporting the development of the BPS Fishing Tours in search of the Ultimate Angler.</p>

<p>Help us develop the future of competitive sport fishing with a vision to unite top anglers from each region to a possible showdown in a search to crown the Ultimate Angler!</p>

<p>For more information please contact the CSFL at Tel: 905-640-2277; Fax: 905-640-2278; E-mail: <a href="mailto:bassmania@on.aibn.com">bassmania@on.aibn.com</a></p>

<p>The CSFL is a recognized leader in the sport fishing industry with over 40 annual tournaments across Southern, Central and Eastern Ontario and have successfully run and operated well over 500 events to date. The CSFL utilizes the Shimano in water weigh in system developed through Queens University, a program funded by Shimano Canada. With the technology of properly regulated aerated tanks, water weigh-in scales and state of the art live release boats that ensures the safe return of the resource and the future of the sport. The CSFL has a tournament category to meet your needs. With great companies like Lund Boats, Mercury Marine, Shimano, Power Pro, Jackall, G Loomis and Everstart Batteries behind it, the CSFL is able to provide its customers, spectators, and supporters direct delivery of product knowledge, fishing techniques, and an exciting weigh in show to feast the eyes. More reasons that keep the CSFL the first choice of tournaments. Don’t just watch us grow, come grow with us. Visit us at <a href="http://www.csfl.ca/">www.csfl.ca</a> to learn more about the CSFL.</p>
                </div>
            </div>
        </div>
    </div>
</div>
