<%= render "shared/ads_bps" %>

<div id="newsContainer">
    <div class="newsListContainer">
        <div class="newsTopBar">
            <%= image_tag 'iconNews.png', class: 'iconNews', alt: 'Anglers' %>
            <h1>News</h1>
        </div>

        <div class="newsBotCont">
            <div class="mediaCont">
                <p>The Bass Pro Fishing Tour just got started, so we don't have event data yet. Check back later for results from our first event!</P>
<!--
                <div class="media">
                    <a href="#" class="media-image"><img src="//placebear.com/100/100"></a>
                    <div class="media-body">
                        <h2>Some News Story Title</h2>
                        <p>Some news story content</p>
                        <p>Some more content</p>
                        <a href="#">Read more about this news story</a>
                    </div>
                </div>
 -->
            </div>
        </div>
    </div>
</div>