<div id="newsContainer">
    <div class="newsListContainer">
        <div class="newsTopBar">
            <%= image_tag 'iconNews.png', class: 'iconNews', alt: 'Anglers' %>
            <h1>News</h1>
        </div>

        <div class="newsBotCont">
            <%= yield %>
        </div>
    </div>
</div>