$red: #bd2a21;
$yellow: #e8c517;
$green: #64982e;
$teal: #7ec88d;
$grey: #616262;
$darkGrey: #515151;
$lightGrey: #b3b3b3;
$brown: #75521a;
$beige: #d7c8b9;
$lightBlue: #778899;
$darkBlue: #6495ED;

// Gradients:

%red-gradient {
    background-color: $red;
    @include background-image(linear-gradient(lighten($red, 10%), $red));
}

%green-gradient {
    background-color: $green;
    @include background-image(linear-gradient(lighten($green, 10%), $green));
}

%blue-gradient {
    background-color: $darkBlue;
    @include background-image(linear-gradient(lighten($darkBlue, 10%), $darkBlue));
}

// Buttons:

%red-button {
    @extend %red-gradient;
    color: white;
    background-repeat: no-repeat;
    border: none;
    box-shadow: inset 0 2px 2px lighten($red, 20%),
                inset 0 -1px 2px darken($red, 20%),
                0 0 1px 1px darken($red, 30%);

    &:hover {
        background-position: center -10px;
        box-shadow: inset 0 1px 1px lighten($red, 20%),
                    inset 0 -1px 2px darken($red, 20%),
                    0 0 1px 1px darken($red, 30%);
    }
}

%green-button {
    @extend %green-gradient;
    color: white;
    background-repeat: no-repeat;
    border: none;
    box-shadow: inset 0 2px 2px lighten($green, 20%),
                inset 0 -1px 2px darken($green, 20%),
                0 0 1px 1px darken($green, 30%);

    &:hover {
        background-position: center -10px;
        box-shadow: inset 0 1px 1px lighten($green, 20%),
                    inset 0 -1px 2px darken($green, 20%),
                    0 0 1px 1px darken($green, 30%);
    }
}

%blue-button {
    @extend %blue-gradient;
    color: white;
    background-repeat: no-repeat;
    border: none;
    box-shadow: inset 0 2px 2px lighten($darkBlue, 20%),
                inset 0 -1px 2px darken($darkBlue, 20%),
                0 0 1px 1px darken($darkBlue, 30%);

    &:hover {
        background-position: center -10px;
        box-shadow: inset 0 1px 1px lighten($darkBlue, 20%),
                    inset 0 -1px 2px darken($darkBlue, 20%),
                    0 0 1px 1px darken($darkBlue, 30%);
    }
}