/*Event Page*/

#eventContainer {
    width: 750px;
    padding: 16px 0 0 275px;
    margin: 0 auto 25px auto;
    // @include background-image(linear-gradient(transparent, rgba(10, 10, 10, 0.5)));
}

.eventContainer {
    padding: 0 20px 10px 0;
}

.findAnEvent {
    margin: 0 0 16px;
}

.findAnEventText {
    h2 {
        color: white;
        margin: 0;
        font-size: 40px;
    }
}

.findAnEventSmall {
    margin: 5px 0;

    h2 {
        color: $yellow;
    }
}

.mapOntario {
    width: 273px;
    position: absolute;
    margin-left: 245px;
    margin-top: 0px;
}

.mapTextContainer {
    padding: 40px 0 0 110px;
    position: absolute;
}

.bassEventAttendBackground {
    display: none;
    overflow: hidden;
    padding: 15px 25px;

    &.active-event {
        display: block;
    }
}

.bassEventAttendBackground {
    background: black; // Fallback for browsers without gradient and rgba
    background: mix(rgba(255, 255, 255, 0.1), rgba(8, 8, 8, 0.4));
    @include background(linear-gradient(rgba(255, 255, 255, 0.1), rgba(8, 8, 8, 0.4)));

    box-shadow: 0px 0px 5px black;
    @include border-radius(2px);
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.bassEventAttendText {

    h2 {
        color: white;
        font-size: 16px;
        text-shadow:none;
    }

    p {
        font-size: 14px;
    }
}

.bassEventAttendText, .eventEnterPic {
    float: left;
}

.yesNoContainer {
    float: right;
    width: 160px;
    margin-left: 25px;
}

.enterEventButton, .noEventButton {
    color: white;
    cursor: pointer;
    text-align: center;
    background-repeat: no-repeat;
}

.enterEventButton, .noEventButton, .seeRankButton {
    width: 70px;
    height: 30px;
    line-height: 20px;
    border-radius: 5px;
    font-size: 12px;
    border: none;
}

.enterEventButton {
    float: left;
    margin-right: 20px;
    @extend %green-button;
}

.noEventButton {
    float: left;
    @extend %red-button;
    cursor: pointer;
}

.ifYes, .ifNo {
    position: absolute;
    float: left;
    width: 30px;
    height: 30px;
    margin: 0px 45px;
}

/*Map Slider*/

#slideshowMap {
    margin: 0 auto;
    height: 200px;
    position:relative;
}

#slidesContainer {
    margin: 0 auto;
    height: 200px;
    position:relative;
}

#slideshowMap {
    background: transparent image-url('event-map.png') no-repeat 0 0;
    background-size: contain;

    hr {
        margin: 0;
        width: 425px;
        border: none;
        border-top: 1px solid white;
    }
}

#slideshowMap #slidesContainer {
    overflow: hidden;
}

#slideshowMap #slidesContainer .slide {
    margin: 0 auto;
    width: 540px;
    height: 265px;
}

.control {
    position:absolute;
    top: 26px;
    width: 39px;
    height: 100%;
    cursor: pointer;

    &.left {
        left: 55px;
        height: 45px;
    }

    &.right {
        right: 60px;
        height: 45px;
    }
}

.slide {
    .carousel-indicators {
        top: auto;
        right: 0;
        bottom: 45px;
        left: 250px;
        padding: 0;

        li {
            cursor: pointer;
        }
    }

    h2 {
        letter-spacing:-1px;
    }

    h2, p {
        margin: 5px;
        height: 50px;
    }
}

.rankingsButton {
    float: right;

    .seeRankButton {
        padding: 0;
        text-align: center;
        color: white;
        @extend %blue-button;
    }
}

