/*Font Styles*/
h1 {
	font-size: 30px;
	color: yellow;
	margin: 0;
}

h2 {
	font-size: 18px;
	font-weight: bold;
	font-family: "Helvetica Neue";
	color: white;
	margin: 0;
}

h3 {
	font-size: 15px;
	color: red;
	margin: 0;
}

p {
	font-size: 15px;
	font-weight: lighter;
	font-family: "Helvetica Neue";
	line-height:140%;
}
/*End Font Style*/

/*Landing Page*/

#backgroundMain {
	background-color: white;
}

#wrapper {
	width: 1900px;
	margin-left: auto;
	margin-right: auto;
}

.bannerTop {
	background-image: url('/assets/bannerGreenTop.png');
	background-repeat: no-repeat;
	background-position: center;
	height:74px;
}

	.bassFishingLogo {
		margin: 0 0 0 450px;
	}

	.bassLogo {
		position: absolute;
	}

	.standingsLogo {
		position: absolute;
		margin: 0 0 0 12px;
	}

	.loginTop {
		margin: 0 380px auto 0;
		padding: 0 0 0 0;
	}

	.loginIcon {
		float: right;
	}

	.loginIconLine {
		float: right;
		padding: 0 20px 0 20px;
		color: white;
		font-size: 25px;
	}

	.navTop {
		margin: 0 0 auto 750px;
		padding: 35px 0 0 0;
	}

	.navIcon {
		float: left;
		margin: 0 10px 0 10px;
	}

	.standingsText {
		margin-left: 40px;
		position: absolute;
		width: 150px;
		top: 260px;
		text-align: center;
		color: white;
	}
		.standingsText h2 {
			font-size: 30px;
		}

		.standingsText h1 {
			font-size: 15px;
		}

		.standingsText p {
			line-height: 50%;
		}

.bannerBigTop {
	background-image: url('/assets/bannerBigTop.jpg');
	background-repeat: no-repeat;
	background-position: center;
	height:515px;
}

	.bannerBigText {
		position: absolute;
		margin-left: 760px;
		width: 500px;
	}

		.bannerBigText h2 {
			font-size: 30px;
			margin-top: 25px;
		}

		.bannerBigText h1 {
			font-size: 15px;
			margin: 20px 0 20px 0;
		}


.bannerMiddle {
	background-image: url('/assets/woodBackground.jpg');
	background-repeat: no-repeat;
	background-position: center;
	height:735px;
	box-shadow:inset 0 5px 20px #000000;
	overflow: hidden;
}

	.bassHandContainer {
		width: 1050px;
		margin-left: auto;
		margin-right: auto;
	}

	.bassHand {
		position: absolute;
		margin: 40px 0 0 0;
	}

	.bassHandText {
		position: absolute;
		width: 600px;
		margin: 30px 0 0 400px;
	}

		.bassHandText h1 {
			margin-bottom: 15px;
		}

	.glowBackground {
		background-image: url('/assets/bannerMiddleGlow.png');
		background-repeat: no-repeat;
		opacity:0.4;
		height: 335px;
		background-position: -8px 0px;
	}

	.eventLeaderContainer {
		width: 750px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 20px;
		clear: both;
	}

	.eventLogo {
		float: left;
	}

	.leaderLogo {
		float: right;
	}

	.eventLeaderContainerText {
		width: 1200px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 20px;
		clear: both;
	}

	.findEventText {
		float: left;
		margin-left: 230px;
		width: 300px;
		color: white;
	}

	.leaderboardText {
		float: left;
		width: 300px;
		margin: 0 0 0 270px;
		color: white;
	}

.bannerBottomSponsor {
	background-image: url('/assets/bannerBottomBlack.png');
	background-repeat: no-repeat;
	background-position: center;
	height:120px;
	overflow: hidden;
}

	.sponsorArea {
		width: 970px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 20px;
	}

.bannerBottom {
	background-image: url('/assets/bannerBottomGreen.png');
	background-repeat: no-repeat;
	background-position: center;
	height:105px;
	overflow: hidden;
}
	.navBottom {
		width: 840px;
		margin-left: auto;
		margin-right: auto;
		clear: both;
	}

	.navIconBot {
		float: left;
		color: yellow;
		font-weight: normal;
		font-size: 15px;
		margin: 30px 15px 0 15px;
	}

	.navBottomLegal {
		clear: both;
		text-align: center;
		padding-top: 1px;
	}

	.navBottomLegal p {
		font-size: 10px;
		color: white;
	}
/*End Landing Page*/

/*Registration & Login*/

.loginForm {
    @include clearfix;
    width: 405px;
    margin: 250px auto;
    text-align: center;
    background-color: #fffbf3;
	border-radius: 15px;
	box-shadow: 0px 0px 30px black;
}

.regForm {
    @include clearfix;
    width: 405px;
    margin: 250px auto;
    text-align: center;
    background-color: #fffbf3;
	border-radius: 15px;
	box-shadow: 0px 0px 30px black;
}

.forgotForm {
    @include clearfix;
    width: 405px;
    margin: 250px auto;
    text-align: center;
    background-color: #fffbf3;
	border-radius: 15px;
	box-shadow: 0px 0px 30px black;
}

input {
    display: block;
    @include box-sizing(border-box);

    &[type=text] {
        width: 100%;
    }

    &:focus {
    	box-shadow: 0 0 5px green;
    }
}

button {
    @include box-sizing(border-box);
}

form {
	width: 300px;
	margin-left: auto;
	margin-right:auto;
	text-align: left;
}

h2 {
	font-size: 22px;
	color: #5f5f5f;
	font-family: verdana;
}

body {
	background-image: url('woodBackground.jpg');
}

.submitButton {
    width: 280px;
    height: 50px;
    position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
	clear: both;
	border-radius: 8px;
	font-size: 25px;
	font-family: verdana;
	color: white;
	background-image: url('registerButton.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 288px;
}

.regButton {
    width: 280px;
    height: 50px;
    position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	margin-bottom: 15px;
	clear: both;
	border-radius: 8px;
	font-size: 25px;
	font-family: verdana;
	color: white;
	background-image: url('registerButton.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 288px;
}

.submitLoginEmail {
	width: 280px;
	height: 45px;
	margin-left: auto;
	margin-right: auto;
	clear: both;
	border-radius: 8px;
	outline: none;
	font-size: 20px;
	background-color: #e5ded5;
	background-image: url('fishLoginLogo.png');
	background-repeat: no-repeat;
	background-position: right;
}

.submitLoginPass {
	width: 280px;
	height: 45px;
	margin-left: auto;
	margin-right: auto;
	clear: both;
	border-radius: 8px;
	outline: none;
	font-size: 20px;
	background-color: #e5ded5;
	background-image: url('keyLoginLogo.png');
	background-repeat: no-repeat;
	background-position: right;
}

.submitLoginCheck {
	margin: 5px 5px 0 12px;
	float: left;
}

.submitLoginRemember {
	float: left;
	font-family: verdana;
	margin: 5px 0 5px 10px;
}

.submitLoginText {
	margin: 5px 0 5px 10px;
	clear: both;
	font-family: verdana;
	line-height: 30px;
}

.bassLoginLogo {
	width: 240px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -90px;
}

.submitLoginTextSign {
	line-height: 70px;
	text-decoration: none;
	color: #5f5f5f;
	font-family: verdana;
}

.regLoginTextSign {
	line-height: 70px;
	text-decoration: none;
	color: #5f5f5f;
	font-family: verdana;
}

.loginBottomBanner {
	background-image: url('bottomBannerTexture.png');
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	overflow: hidden;
	height: 70px;
	border-top: solid 1px white;
	box-shadow: 0 -2px 0 #a6a6a6;
}

.regBottomBanner {
	background-image: url('bottomBannerTexture.png');
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	overflow: hidden;
	height: 70px;
	border-top: solid 1px white;
	box-shadow: 0 -2px 0 #a6a6a6;
}

.noStyle .regBottomBanner{
	background-image: none;
	border-top: none;
	box-shadow: none;
}

.noStyle .loginBottomBanner {
	box-shadow: none;
	border-top: solid 1px white;
	box-shadow: 0 -2px 0 #a6a6a6;
}