/*Registration & Login*/

input {
    display: block;
    height: 28px;
    padding: 3px 25px 3px 25px;
    background-color: #f9eddf;
    border: 1px solid $lightGrey;
    @include box-sizing(border-box);
    box-shadow: inset 1px 1px 5px rgba(0,0,0,.24);
    outline: none;


    &[type=text] {
        width: 100%;
    }

    &[type=checkbox] {
        border: none;
        background-color: transparent;
        box-shadow: none;
    }

    &[type=password] {
        font-family: sans-serif; // Fix IE8 invisibility issues
    }

    &:focus {
        box-shadow: 0 0 5px green;
    }
}

button {
    @include box-sizing(border-box);
}

form {
    width: 100%;
    margin-left: auto;
    margin-right:auto;
    text-align: left;
}

label, h1, h2, h3, p, a {
    margin: 0;
    font-family: 'Titillium Web', sans-serif;
}

select {
    width: 118px;
}

.deemphasized {
    opacity: 0.7;
    &:hover {
        opacity: 1;
    }
}

.formContainer {
    @include clearfix;
    width: 405px;
    padding: 32px 0 0;
    margin: 42px auto;
    text-align: center;
    background-color: #fffbf3;
    border-radius: 10px;
    box-shadow: 0px 0px 30px black;
    color: #bebebe;

    h2 {
        color: #5f5f5f;
    }

    > :last-child {
        border-radius:0 0 10px 10px;
    }
}

.greenButton {
    position: relative;
    clear: both;
    width: 280px;
    height: 50px;
    margin: 15px auto 0;
    @extend %green-button;
    font-size: 25px;
    border-radius: 8px;
    cursor: pointer;
}

.submitLogin, .submitLoginKey {
    width: 280px;
    height: 45px;
    margin-left: auto;
    margin-right: auto;
    clear: both;
    border-radius: 8px;
    outline: none;
    font-size: 15px;
    background-color: #e5ded5;
    background-repeat: no-repeat;
    background-position: right;
    background-position: 91% 50%;
}

.submitLoginCheck {
    margin: 0 5px 0 60px;
    float: left;
}

.submitLoginRemember {
    float: left;
    margin: 2px 0 0 10px;
    color: #5f5f5f;
}

.submitLoginText, .newPassword {
    margin: 5px 0 5px 60px;
    clear: both;
    line-height: 30px;
    color: #5f5f5f;
}

.bassLoginLogo {
    width: 240px;
    margin:-45px auto -15px auto;
}

.submitLoginTextSign, .regLoginTextSign {
    line-height: 48px;
    text-decoration: none;
    color: #5f5f5f;
}

.BottomBanner  {
    background-image: image-url('bottomBannerTexture.jpg');
    overflow: hidden;
    height: 52px;
    border-top: solid 1px white;
    box-shadow: 0 -2px 0 #a6a6a6;
}

form + .BottomBanner {
    margin-top: 32px;
}

#error_explanation {
    background-color: $red;
    width: 255px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    border-radius: 10px;
    padding: 1px 15px 1px 15px;

    h2 {
        margin-top: 10px;
        @include titillium;
        font-size: 14px;
        color: white;
    }

    ul {
        font-weight: normal;
        font-size: 13px;
        color: white;
        border-radius: 10px;
    }
}


/*Thanks Page*/

.thankContainer {
    width: 400px;
    overflow: hidden;
    margin: 42px auto;
    background-color: #fffbf3;
    border-radius: 10px;
    box-shadow: 0px 0px 30px black;
}

.bassLoginLogoText {
    float: left;
    margin: 20px 15px 0 15px;
}

.bassLoginLogoThankText {
    margin: 42px;

    h1 {
        margin: 0 0 5px;
        font-size: 18px;
        color: #797979;
        text-shadow:none;
    }

    p {
        font-size: 14px;
        line-height: 17px;
        text-shadow:none;
    }

    a {
        font-size: 11px;
        text-shadow:none;
    }
}

.thankRegButton {
    padding: 8px 12px;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
    @extend %red-button;
}

.thankRegSkip {
    margin-left: 20px;
    font-size: 12px;
    color: black;
    display: inline-block;
}

.thankContainerBottom {
    padding: 8px 32px;
    background-image: image-url('bottomBannerTexture.jpg');
    border-top: solid 1px white;
    box-shadow: 0 -2px 0 #a6a6a6;
    text-align: right;
}

/*Team Register*/

.teamRegContainer {
    position: relative;
    left: 32px; // Push off to the side away from the logo
    width: 505px;
    margin: 42px auto;
    background-color: #f6efdf;
    background-image: image-url('formBackgroundTexture.jpg');
    border-radius: 10px;
    box-shadow: 0px 0px 30px black;

    .tab-content & {
        position: static;
    }

    label {
        font-size: 14px;
        font-weight: bold;
        color: #865105;
    }

    input {
        border-radius: 5px;
        margin-bottom: 10px;
    }

    select {
        margin-bottom: 10px;
    }
}

#profile_picture, #team_team_picture {
    box-shadow: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 30px;
    border: none;
    margin-left: 30px;
    float: left;
}

.teamRegContainerForm {
    padding: 30px 50px;
    min-height: 548px;
    color: $textBeige;

    p {
        color: $textBeige;
    }

    h3 {
        font-size: 16px;
        color: #865105;
        margin-left: 10px;
    }

    li {
        width: 300px;
        font-size: 12px;
        margin-left: 10px;
        margin-bottom: 5px;
    }

    form {
        margin-bottom: 20px;
        overflow: hidden;
    }
}

.teamRegContainerForm h1, .teamRegContainerForm h2, .teamRegContainerForm h3, .teamRegContainerForm p, .formContainer h1, .formContainer h2, .formContainer h3, .formContainer p {
    text-shadow: none;
}

.divideLine {
    border-top: 1px solid #865105;
    margin: 5px 5px 10px 5px;
}

.actions {
    clear: left;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 100%;
    text-align: center;

    a {
        font-size: 12px;
        font-weight: bold;
        text-decoration: none;
        color: #7d7d7d;
        left: 150px;
        margin-top: 25px;
        margin-right: 10px;

    }

    input {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 120px;
        height: 30px;
        cursor: pointer;
        border-radius: 5px;
        text-align: center;
        display: inline-block;
        @extend %green-button;
        text-decoration: none;
        font-size: 12px;
    }
}

.topGreenBanner {
    clear: both;
    background-color: #1a9b0b;
    width: 100%;
    height: 30px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top: solid 1px #d8d8d8;

    p {
        font-size: 12px;
        color: white;
        margin: 8px 0 auto 20px;
    }
}

.full {
    p {
        font-size: 12px;
        color: #865105;
        font-style: italic;
        font-weight: bold;
        margin: 10px auto 30px auto;
    }

    a {
        color: #865105;
    }
}

.regTopText {
    h2 {
        font-size: 14px;
        color: #865105;
        font-style: italic;
        font-weight: bold;
        margin: auto auto 20px 10px;
    }

    p {
        font-size: 12px;
        color: #865105;
        margin: 5px auto auto 10px;
    }

    a {
        color: #865105;
    }
}

#email, #last_name, #first_name {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

button.close {
    padding: 0;
    border: 0;
    cursor: pointer;
    background: transparent;
    @include appearance(none);
}

.close {
    float: right;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    color: #000000;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0.2;
    filter: alpha(opacity=20);
}

.adSpace {
    height: 250px;
}

.adImg, .adImg2, .adImg3, .adImg4 {
    margin-top: 20px;
    width: 223px;
    box-shadow: 0px 0px 35px black;
}

.verticalAds, .standingsLogo {
    width: 223px;
    margin-left: auto;
    margin-right: auto;
}

.teamRegContainer.no {
    margin: 0 0 25px 0;
    width: 100%;
    border-radius: 0px;
    background: none;
}

.actions input[disabled].disabled, .actions input[disabled].disabled:hover {
    background-image: none ;
    background-color: #cccccc;
    box-shadow: inset 0 2px 2px #CFCFCF, inset 0 -1px 2px #304a16, 0 0 1px 1px #17230a;
}
