$gutter: 16px;

%grid-unit {
    @include box-sizing(border-box);
    float: left;
    padding: 0 0.5em;
}

.row {
    clear: both;
    // Nullify the padding on the %grid-unit elements
    margin-right: -0.5em;
    margin-left: -0.5em;
}

.full {
    @extend %grid-unit;
    width: percentage(1);
}

.half {
    @extend %grid-unit;
    width: percentage(1 / 2);
}

.third, .thirds {
    @extend %grid-unit;
    width: percentage(1 / 3);

    &.two {
        width: percentage(2 / 3);
    }
}

.quarter, .quarters {
    @extend %grid-unit;
    width: percentage(1 / 4);

    &.three {
        width: percentage(3 / 4);
    }
}

.sixth, .sixths {
    @extend %grid-unit;
    width: percentage(1 / 6);

    &.five {
        width: percentage(5 / 6);
    }
}