.bannerTopBackground {
    background-image: image-url('bannerGreenTop.jpg');
    background-position: center;
    height:74px;
}

.bannerTop {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

.user-navigation {
    float: right;
    font-size: 15px;
    color: $yellow;

    a {
        color: $yellow;
        text-decoration: none;

        &:hover {
            color: white;
            text-decoration: underline;
        }
    }
}

.main-navigation {
    float: left;
    margin: 0 0 0 32px;
    clear: right;

    a {
        float: left;
        padding: 12px 10px;
        color: white;
        text-shadow: 1px 1px 0 #000;
        text-decoration: none;

        &:hover {
            color: $yellow;
            text-decoration: underline;
        }
    }
}

.bassFishingLogo {
    float: left;
    height: 73px; // I know, that's bad, but this prevents layout issues
                  // with other elements futher down the page
}

.bassLogo {
    position: relative;
    z-index: 5;
    display: block;
    line-height: 0;
}

.standingsLogo {
    position: absolute;
    z-index: 4;
    top: 0;
    width: 251px; // Bad, I know, but I couldn't get left: 0; and
                  // right: 0; to behave as I expected.
    text-align: center;
}

.standingsText {
    position: absolute;
    top: 260px;
    right: 0;
    left: 0;
    text-align: center;
    color: white;

    h1 {
        font-size: 18px;
    }

    h2 {
        font-size: 30px;
    }
}

.bannerBigText h2  {
    font-size: 40px;
}

.bannerBigText h1 {
    font-size: 22px;
}

.standingsText p {
    line-height: 50px;
}


.header-container {
    background: #1f2920;
    margin-top: 15px;
    box-shadow: 0 5px 20px -3px #000000;
}