/*Footer Sticker*/

html, body {
   margin:0;
   padding:0;
   height:100%;
}
#wrapper {
   min-height:100%;
   position:relative;
}
#container {
   padding-bottom:105px;   /* Height of the footer */
}
.bannerBottomBackground {
   position:absolute;
   bottom:0;
   width:100%;
   height:105px;   /* Height of the footer */
}

/*Font Styles Home Container*/

h1 {
    margin: 0;
    color: $yellow;
    font-size: 46px;
    @include aachen;
    text-shadow: 2px 3px 2px rgba(0, 0, 0, 0.37);
}

h2 {
    margin: 0;
    color: white;
    @include aachen;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
}

h3 {
    margin: 0;
    color: $red;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.37);
}

p {
    color: #b3b3b3;
    line-height:140%;
    font-weight: lighter;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.7);
}

/*Home Container*/

.homeContainer {
    overflow: hidden;
}

.bannerBigTop {
    height:515px;
    width: 1028px;
    margin-left: auto;
    margin-right: auto;
}

    .bannerBigText {
        position: absolute;
        margin-left: 297px;
        margin-top: 40px;
        width: 500px;
        z-index: 20;
    }

    .bannerBigImage {
        margin-left: -500px;
        margin-top: -15px;
    }

.bannerMiddle {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

    .bassHandContainer {
        overflow: hidden;
        width: 1050px;
        padding: 0 0 50px;
        margin-left: auto;
        margin-right: auto;
        @include background-image(radial-gradient(rgba(255, 255, 255, 0.2), transparent));
        background-position: center 175px;
        background-repeat: no-repeat;
    }

    .bassHand {
        float: left;
        margin: 40px 0 0 0;
    }

    .bassHandText {
        float: left;
        width: 600px;
        margin: 60px 0 0 22px;
    }

        .bassHandText h3 {
            font-size: 18px;
        }

        .bassHandText h4 {
            margin: 0;
            color: white;
            font-size: 20px;
            line-height: 40px;
        }

    .eventLeaderContainer {
        width: 780px;
        clear: both;
        overflow: hidden;
        margin-left: auto;
        margin-right: auto;
        padding: 20px 0 110px;

        h1  {
            font-size: 20px;
        }

        a {
            font-size: 16px;
            font-weight: bold;
            color: $red;
            text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.37);
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }

        p {
            margin: 15px auto;
        }

        .event {
            float: left;
            width: 300px
        }

        .leader {
            float: right;
            width: 300px
        }
    }


.bannerBottomSponsorBackground {
    padding: 15px 0 5px;
    background-image: image-url('bannerBottomBlack.jpg');
    background-position: 0px 2px;
    background-size: 120%;
    overflow: hidden;
    clear: both;
    text-align: center;
}

.bannerBottomBackground {
    background-image: image-url('bannerBottomGreen.jpg');
    background-position: center;
    height:105px;
    overflow: hidden;
}

    .navBottom {
        width: 840px;
        margin-left: auto;
        margin-right: auto;
        clear: both;

        a {
            float: left;
            color: $yellow;
            font-weight: normal;
            font-size: 15px;
            margin: 30px 15px 0 15px;
            text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.43);
            text-decoration: none;

            &:hover {
                color: white;
                text-decoration: underline;
            }
        }
    }

    .navBottomLegal {
        clear: both;
        text-align: center;
        padding-top: 1px;
    }

    .navBottomLegal p {
        margin-top: 10px;
        font-size: 12px;
    }

#user_nav a {
    margin-left: 15px;
    margin-right: 15px;
}

#user_nav a, #user_nav h2{
    font-weight: bold;
}

/*Event Page*/

.bannerMiddleEvent {
    margin-left: auto;
    margin-right: auto;
}

.findAnEvent {
    text-align: center;
}

.findAnEventText {
    margin-top: 80px;
}

.findAnEventText h2 {
    color: white;
    margin: 0;
    font-size: 40px;
}

.findAnEventSmall {
    margin-top: 5px;
    margin-bottom: 50px;
}

.findAnEventSmall h2 {
    color: $yellow;
}

.eventMapContainer {
    width:1200px;
    margin-left: auto;
    margin-right: auto;
}
.mapOntario {
    margin-left: 430px;
    margin-top: 15px;
    width: 32%;
}

.mapOntarioText {
    width: 450px;
    position: absolute;
    margin-top: 95px;
    margin-left: 235px;
    font-size: 25px;
    @include aachen;
    color: white;
}

.bassEventMap {
    background-repeat: no-repeat;
    background-position:center;
    background-size: 70%;
    height: 200px;
    width: 100%;
    opacity: .8;
}

.bannerSmallTopBackground {
    background: none;
}

.bannerSmallTop {
    height:200px;
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

.bassEventAttend {
    margin-top: 50px;
    margin-bottom: 125px;
}

.bassEventEnter {
    margin-top: 75px;
    margin-bottom: 100px;
}

.bassEventAttendBackbround {
    height: 70px;
    width: 500px;
}

.bassEventEnterBackbround {
    height: 530px;
    width: 1400px;
}

.bassEventEnterBackbround, .bassEventAttendBackbround {
    /* Safari 4-5, Chrome 1-9 */
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255,255,255, 0.1)), to(rgba(8,8,8,0.4)));
    /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255, 0.1), rgba(8,8,8,0.4));
    /* Firefox 3.6+ */
    background: -moz-linear-gradient(top, rgba(255,255,255, 0.1), rgba(8,8,8,0.4));
    /* IE 10 */
    background: -ms-linear-gradient(top, rgba(255,255,255, 0.1), rgba(8,8,8,0.4));
    /* Opera 11.10+ */
    background: -o-linear-gradient(top, rgba(255,255,255, 0.1), rgba(8,8,8,0.4));
    box-shadow: 0px 0px 5px black;
    border-radius: 2px;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.bassEventAttendContainer {
    padding: 15px 0px 0px 25px;
}

.bassEventEnterContainer {
    padding: 70px 0px 70px 90px;
}

.bassEventAttendText h2 {
    color: white;
    font-size: 14px;
}

.bassEventAttendText, .eventEnterPic {
    float: left;
}

.bassEventEnterText {
    float: left;
    width: 600px;
    margin-left: 70px;
}

    .bassEventEnterText h2 {
        font-size: 40px;
    }

    .bassEventEnterText p {
        font-size: 18px;
        margin: 30px 0;
    }

.bassEventAttendButton {
    float:right;
    background-position: center;
    background-size: 100% 105%;
    margin: 5px 30px;
    width: 120px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-image: image-url('registerButtonGreen.png');
}

.bassEventAttendButton h2 {
    padding-top: 10px;
    font-size: 10px;
}

.enterEventButton, .noEventButton, .bassEventAttendButton {
    color: white;
    cursor: pointer;
    text-align: center;
    background-repeat: no-repeat;
}

.enterEventButton, .noEventButton {
    width: 250px;
    height: 50px;
    line-height: 40px;
    background-size: 288px;
    margin: 40px auto 15px auto;
    border-radius: 10px;
    font-size: 25px;
}

.enterEventButton {
    float: left;
    background-position: center;
    background-image: image-url('registerButtonGreen.png');
}

.noEventButton {
    float: right;
    background-position: -10px -1px;
    background-image: image-url('registerButtonRed.png');
}

/*Map Slider*/

#slideshowMap, #slideshowMap {
    margin:0 auto;
    width:1100px;
    height:265px;
    position:relative;
}

#slidesContainer {
    margin:0 auto;
    width: 1000px;
    height:265px;
    position:relative;
}

#slideshowMap {
    background:transparent url(/assets/eventMap.jpg) no-repeat 0 0;
}

#slideshowMap #slidesContainer {
    overflow:auto;
}

#slideshowMap #slidesContainer .slide {
    margin:0 auto;
    width:540px;
    height:265px;
}

.control {
    width:39px;
    height:100%;
    position:absolute;
    cursor: pointer;
}

#leftControl, #rightControl {
    top:55px;
    z-index: 20;
}

#leftControl {
    left:63px;
    background:transparent url(/assets/control_left.png) no-repeat 0 0;
}

#rightControl {
    right:43px;
    background:transparent url(/assets/control_right.png) no-repeat 0 0;
}

#mapContainer {
    margin:0 auto;
    width:1400px;
}

.slide h2, .slide p {
    margin:5px;
    height: 50px;
    width: 1100px;
}
.slide h2 {
    letter-spacing:-1px;
}

.mapOntario {
    width: 430px;
    position: absolute;
    margin-left: 315px;
    margin-top: 0px;
}

.mapTextContainer {
    padding: 85px 0 0 195px;
    position: absolute;
}

/*New Home Slider*/

#slideshowWrapper {
    position:relative;
    width:1920px;
    margin:auto;
}

#prevSlide {
    display: none;
}

#nextSlide {
    position:absolute;
    top:230px;
    left:1520px;
    background:url(nextButton.png) no-repeat;
    width:50px;
    height:50px;
    text-indent:-999999px;
}

ul#slideshow {
    list-style:none;
    border:1px solid #999;
    margin:auto;
    width:1920px;
    height:515px;
    overflow:hidden;
    border: none;
}

a#dotPlayPause {
    display: none;
}

#dotList {
    list-style:none;
    position: absolute;
    z-index: 2033333;
    top: 290px;
    left: 760px;

    li {
        float: left;
        cursor: pointer;
        height: 18px;
        width: 18px;
        background: #222;
        border-radius: 20px;
        margin-right: 10px;
        box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.5),
                    1px 1px 2px -1px #fff;

        a {
            font-size: 12px;
            color: #222;
            border:1px solid none;
            text-decoration : none;
            padding : 0px 6px;
            border-radius:20px;
            position: absolute;
        }
    }

    li.dotActive {
        background-color: $yellow;
        a {
            display: none;
        }
    }
}



/*Anglers, About, Leaderboard, News*/

#anglersContainer, #aboutContainer, #leaderContainer, #newsContainer, #invitationCont {
    width: 1000px;
    margin: 20px auto;
}

.anglersListContainer, .aboutTextContainer, .leaderListContainer, .newsListContainer, .invitationText{
    width: 750px;
    margin-left: 275px;
}

.anglersListContainer, .aboutTextContainer, .leaderListContainer, .newsListContainer {
    box-shadow: 0px 0px 20px black;
    overflow: scroll;
}

.newsBotCont, .invitationText {
    height: 830px;
    background-color: #d7c8b9;
}

.aboutTextContainer {
    height: 890px;
    background-color: #d7c8b9;
    overflow: scroll;
}

.anglersTopBar, .leaderTopBar, .newsTopBar {
    height: 55px;
    width: 100%;
    position: left;
}

.anglersTopBar h1, .leaderTopBar h1, .newsTopBar h1 {
    font-size: 30px;
    float: left;
    padding: 10px 0;
    color: white;
}

.iconAnglers {
    margin: 5px 20px;
    float: left;
}

.iconLeader {
    margin: 10px 20px;
    float: left;
}

.iconNews {
    margin: 3px 20px;
    float: left;
}

.anglersBotCont, .leaderBotCont {
    clear: both;
    height: 765px;
    padding: 32px;
    background-color: #cccece;
    color: #333;
    overflow: hidden;

    p {
        font-size: 18px;
        color: inherit;
        text-shadow: none;
    }
}

.anglersBotCont h1, .anglersBotCont h2, .anglersBotCont p, .aboutTextContainer h1, .aboutTextContainer p, .aboutPara h3, .leaderGroup p, .mediaCont h2, .mediaCont p, .mediaCont a  {
    font-style: normal;
    text-shadow:none;
    color: white;
}

.aboutHead {
    padding: 40px 40px 0 40px;
}

.aboutPara {
    padding: 10px 40px 0 40px;
}

.aboutHead h1 {
    color: #75521a;
    font-size: 30px;
}

.aboutPara h3 {
    color: #58605d;
    margin-top: 30px;
}

.aboutPara p, .leaderNumber p, .leaderName p, .leaderPoint p {
    color: #58605d;
}

.leaderGroup {
    background-image: image-url('leaderBack.jpg');
    display: inline-block;
    width: 97.5%;
    margin: 0px 10px;
}

.leaderNumber p, .leaderName p, .leaderPoint p {
    line-height: 43px;
}

.leaderNumber {
    float: left;
    width: 45px;
    margin-left: 20px;
}

.leaderName {
    float: left;
    width: 400px;
}

.leaderPoint {
    float: right;
    width: 75px;
}

.mediaCont {
    padding: 20px;
    border-bottom: solid 1px white;
}

.mediaCont h2 {
    color: #616262;
}

.mediaCont a {
    color: #65421a;
}

#aboutContainer, #anglersContainer, #leaderContainer, #newsContainer, #invitationCont {
    width: 1050px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 25px;
    /* Safari 4-5, Chrome 1-9 */
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(transparent), to(rgba(10,10,10,0.5)));
    /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(top, transparent, rgba(10,10,10,0.5));
    /* Firefox 3.6+ */
    background: -moz-linear-gradient(top, transparent, rgba(10,10,10,0.5));
    /* IE 10 */
    background: -ms-linear-gradient(top, transparent, rgba(10,10,10,0.5));
    /* Opera 11.10+ */
    background: -o-linear-gradient(top, transparent, rgba(10,10,10,0.5));
}

.invitationText h1 {
    font-size: 30px;
    text-shadow: none;
    color: #75521a;
    padding: 20px 20px 0px 20px;
}

.invitationText tr {
    float: left;
    clear: both;
    padding: 0 20px;
}

.invitationText th {
    width: 300px;
    text-align: left;
    color: white;
}

.invitationText td {
    width: 300px;
    color: white;
}

.hide {
    display: none;
}
