/*Font Styles Home Container*/

h1 {
    margin: 0;
    color: $yellow;
    font-size: 46px;
    @include aachen;
    text-shadow: 2px 3px 2px rgba(0, 0, 0, 0.37);
}

h2 {
    margin: 0;
    color: white;
    @include aachen;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
}

h3 {
    margin: 0;
    color: $red;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.37);
}

p {
    color: #b3b3b3;
    line-height:140%;
    font-weight: lighter;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.7);
}

/*Home Container*/

.homeContainer {
    overflow: hidden;
}

.bannerBigTop {
    height:515px;
    width: 1028px;
    margin-left: auto;
    margin-right: auto;
}

    .bannerBigText {
        position: absolute;
        margin-left: 297px;
        margin-top: 40px;
        width: 500px;
        z-index: 20;
    }

    .bannerBigImage {
        margin-left: -500px;
        margin-top: -15px;
    }

.bannerMiddle {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

    .bassHandContainer {
        overflow: hidden;
        width: 1050px;
        padding: 0 0 50px;
        margin-left: auto;
        margin-right: auto;
        @include background-image(radial-gradient(rgba(255, 255, 255, 0.2), transparent));
        background-position: center 175px;
        background-repeat: no-repeat;
    }

    .bassHand {
        float: left;
        margin: 40px 0 0 0;
    }

    .bassHandText {
        float: left;
        width: 600px;
        margin: 60px 0 0 22px;
    }

        .bassHandText h3 {
            font-size: 18px;
        }

        .bassHandText h4 {
            margin: 0;
            color: white;
            font-size: 20px;
            line-height: 40px;
        }

        .bassHandText a {
            color: $yellow;
        }

    .eventLeaderContainer {
        width: 780px;
        clear: both;
        overflow: hidden;
        margin-left: auto;
        margin-right: auto;
        padding: 20px 0 110px;

        h1  {
            font-size: 20px;
        }

        a {
            font-size: 16px;
            font-weight: bold;
            color: $red;
            text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.37);
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }

        p {
            margin: 15px auto;
        }

        .event {
            float: left;
            width: 300px
        }

        .leader {
            float: right;
            width: 300px
        }
    }

#user_nav a {
    margin-left: 15px;
    margin-right: 15px;
}

#user_nav a, #user_nav h2{
    font-weight: bold;
}

/*Event Page*/

.findAnEvent {
    text-align: center;
}

.findAnEventText {
    margin-top: 80px;
}

.findAnEventText h2 {
    color: white;
    margin: 0;
    font-size: 40px;
}

.findAnEventSmall {
    margin-top: 5px;
    margin-bottom: 50px;
}

.findAnEventSmall h2 {
    color: $yellow;
}

.eventMapContainer {
    width:1200px;
    margin-left: auto;
    margin-right: auto;
}
.mapOntario {
    margin-left: 430px;
    margin-top: 15px;
    width: 32%;
}

.mapOntarioText {
    width: 450px;
    position: absolute;
    margin-top: 95px;
    margin-left: 235px;
    font-size: 25px;
    @include aachen;
    color: white;
}

.bassEventMap {
    width: 100%;
    height: 200px;
    margin: 0 0 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
}

.bannerSmallTopBackground {
    background: none;
}

.bannerSmallTop {
    height:200px;
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

.bassEventEnter {
    margin-top: 75px;
    margin-bottom: 100px;
}

.bassEventAttendBackground {
    display: none;
    overflow: hidden;
    width: 600px;
    padding: 15px 25px;

    &.active-event {
        display: block;
    }
}

.bassEventEnterBackground {
    min-height: 530px;
    width: 1400px;
}

.bassEventEnterBackground, .bassEventAttendBackground {
    background: black; // Fallback for browsers without gradient and rgba
    background: mix(rgba(255, 255, 255, 0.1), rgba(8, 8, 8, 0.4));
    @include background(linear-gradient(rgba(255, 255, 255, 0.1), rgba(8, 8, 8, 0.4)));

    box-shadow: 0px 0px 5px black;
    @include border-radius(2px);
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.bassEventAttendContainer {
    padding: 15px 0px 0px 25px;
}

.bassEventEnterContainer {
    padding: 70px 0px 70px 90px;
}

.bassEventAttendText h2 {
    color: white;
    font-size: 16px;
    text-shadow:none;
}

.bassEventAttendText p {
    font-size: 14px;
}

.bassEventAttendText, .eventEnterPic {
    float: left;
}

.bassEventEnterText {
    float: left;
    width: 600px;
    margin-left: 70px;
}

    .bassEventEnterText h2 {
        font-size: 40px;
    }

    .bassEventEnterText p {
        font-size: 18px;
        margin: 30px 0;
    }

.yesNoContainer {
    float: right;
    width: 160px;
    margin-left: 25px;
}

.enterEventButton, .noEventButton {
    color: white;
    cursor: pointer;
    text-align: center;
    background-repeat: no-repeat;
}

.enterEventButton, .noEventButton {
    width: 70px;
    height: 30px;
    line-height: 20px;
    border-radius: 10px;
    font-size: 12px;
    border: none;
}

.enterEventButton {
    float: left;
    margin-right: 20px;
    @extend %green-button;
}

.noEventButton {
    float: left;
    @extend %red-button;
    cursor: pointer;
}

.ifYes, .ifNo {
    position: absolute;
    float: left;
    width: 30px;
    height: 30px;
    margin: 0px 45px;
}

/*Map Slider*/

#slideshowMap, #slideshowMap {
    margin:0 auto;
    width:1100px;
    height:265px;
    position:relative;
}

#slidesContainer {
    margin:0 auto;
    width: 1000px;
    height:265px;
    position:relative;
}

#slideshowMap {
    background: transparent image-url('event-map.png') no-repeat 0 0;

    hr {
        margin: 0;
        width: 425px;
        border: none;
        border-top: 1px solid white;
    }
}

#slideshowMap #slidesContainer {
    overflow:auto;
}

#slideshowMap #slidesContainer .slide {
    margin:0 auto;
    width:540px;
    height:265px;
}

.control {
    position:absolute;
    top: 55px;
    width:39px;
    height:100%;
    cursor: pointer;

    &.left {
        left: 55px;
    }

    &.right {
        right: 55px;
    }
}

#leftControl, #rightControl {
    top:55px;
    z-index: 20;
}

#leftControl {
    left:63px;
    background:transparent url(/assets/control_left.png) no-repeat 0 0;
}

#rightControl {
    right:43px;
    background:transparent url(/assets/control_right.png) no-repeat 0 0;
}

.slide h2, .slide p {
    margin:5px;
    height: 50px;
}
.slide h2 {
    letter-spacing:-1px;
}

.mapOntario {
    width: 430px;
    position: absolute;
    margin-left: 315px;
    margin-top: 0px;
}

.mapTextContainer {
    padding: 90px 0 0 199px;
    position: absolute;
}

/*New Home Slider*/

#slideshowWrapper {
    position:relative;
    width:1920px;
    margin:auto;
}

#prevSlide {
    display: none;
}

#nextSlide {
    position:absolute;
    top:230px;
    left:1480px;
    background:url(nextButton.png) no-repeat;
    width:50px;
    height:50px;
    text-indent:-999999px;
}

ul#slideshow {
    list-style:none;
    border:1px solid #999;
    margin:auto;
    width:1920px;
    height:515px;
    overflow:hidden;
    border: none;
}

a#dotPlayPause {
    display: none;
}

#dotList {
    list-style:none;
    position: absolute;
    z-index: 2033333;
    top: 290px;
    left: 760px;

    li {
        float: left;
        cursor: pointer;
        height: 18px;
        width: 18px;
        background: #222;
        border-radius: 20px;
        margin-right: 10px;
        box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.5),
                    1px 1px 2px -1px #fff;

        a {
            font-size: 12px;
            color: #222;
            border:1px solid none;
            text-decoration : none;
            padding : 0px 6px;
            border-radius:20px;
            position: absolute;
        }
    }

    li.dotActive {
        background-color: $yellow;
        a {
            display: none;
        }
    }
}



/*Anglers, About, Leaderboard, News*/

#anglersContainer, #aboutContainer, #leaderContainer, #newsContainer, #invitationCont {
    width: 1000px;
    margin: 20px auto;
}

.anglersListContainer, .aboutTextContainer, .leaderListContainer, .newsListContainer, .invitationText{
    width: 750px;
    margin-left: 275px;
}

.anglersListContainer, .aboutTextContainer, .leaderListContainer, .newsListContainer {
    box-shadow: 0px 0px 20px black;
}

.newsBotCont, .invitationText {
    min-height: 830px;
    background-color: #d7c8b9;
}

.aboutTextContainer {
    background-color: #d7c8b9;
}

.anglersTopBar, .leaderTopBar, .newsTopBar {
    height: 55px;
    width: 100%;
    position: left;
}

.anglersTopBar h1, .leaderTopBar h1, .newsTopBar h1 {
    font-size: 30px;
    float: left;
    padding: 10px 0;
    color: white;

    a {
        font-family: inherit;
        color: inherit;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.iconAnglers {
    margin: 5px 20px;
    float: left;
}

.iconLeader {
    margin: 10px 20px;
    float: left;
}

.iconNews {
    margin: 3px 20px;
    float: left;
}

.anglersBotCont, .leaderBotCont {
    clear: both;
    min-height: 765px;
    padding: 32px;
    background-color: #cccece;
    color: #333;
    overflow: hidden;

    p {
        font-size: 18px;
        color: inherit;
        text-shadow: none;
    }
}

.anglersBotCont h1, .anglersBotCont h2, .anglersBotCont p, .aboutTextContainer h1, .aboutTextContainer p, .aboutPara h3, .leaderGroup p, .mediaCont h2, .mediaCont p, .mediaCont a  {
    font-style: normal;
    text-shadow:none;
    color: white;
}

.anglersBotCont h1 {
    font-size: 30px;
    color: #515151;
}

.aboutHead {
    padding: 40px 40px 0 40px;
}

.aboutPara {
    padding: 10px 40px 0 40px;
}

.aboutHead h1 {
    color: #75521a;
    font-size: 30px;
}

.aboutPara h3 {
    color: #58605d;
}

.aboutPara p, .leaderNumber p, .leaderName p, .leaderPoint p {
    color: #58605d;
}

.aboutPara a {
    color: #75521a;
}

.leaderGroup {
    background-image: image-url('leaderBack.jpg');
    display: inline-block;
    width: 97.5%;
    margin: 0px 10px;
}

.leaderNumber p, .leaderName p, .leaderPoint p {
    line-height: 43px;
}

.leaderNumber {
    float: left;
    width: 45px;
    margin-left: 20px;
}

.leaderName {
    float: left;
    width: 400px;
}

.leaderPoint {
    float: right;
    width: 75px;
}

.mediaCont {
    padding: 20px;
    border-bottom: solid 1px white;
}

.mediaCont h2 {
    color: #616262;
}

.mediaCont p {
    margin: 1em 0;
    color: inherit;
    font-size: 18px;
}

.mediaCont a {
    color: #65421a;
}

#aboutContainer, #anglersContainer, #leaderContainer, #newsContainer, #invitationCont {
    width: 1050px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 25px;

    @include background-image(linear-gradient(transparent, rgba(10, 10, 10, 0.5)));
}

.invitationText h1 {
    font-size: 30px;
    text-shadow: none;
    color: #75521a;
    padding: 20px 20px 0px 20px;
}

.invitationText tr {
    float: left;
    clear: both;
    padding: 0 20px;
}

.invitationText th {
    width: 300px;
    text-align: left;
    color: white;
}

.invitationText td {
    width: 300px;
    color: white;
}

.hide {
    display: none;
}
