// The media object.
//
// Used for placing image and text side-by-side, like a blog entry preview
//
// See:
//     http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/
//     https://github.com/csswizardry/inuit.css/blob/master/objects/_media.scss
.media {
    display: block;
    @include clearfix;
}

.media-image {
    float:left;
    margin-right: $gutter;

    img {
        display: block;
    }
}

.media-body {
    overflow: hidden;
}

// General layout:

/*Footer Sticker*/

html, body {
   margin: 0;
   padding: 0;
   height: 100%;
}

#wrapper {
   min-height: 100%;
   position: relative;
}

#container {
   padding-bottom: 105px;   /* Height of the footer */
}

.bannerBottomBackground {
   position: absolute;
   bottom: 0;
   width: 100%;
   height: 105px;   /* Height of the footer */
}

/*End Footer Sticker*/

#container {
    clear: both; // prevent issues in top banner from messing with the
                 // rest of the site's layout.
}

.actions-container {
    float: right;
    clear: left;
    margin-top: 16px;
}

.is-fishing {
    float: left;
    line-height: 30px;
}