.board {
    margin-top: 32px;

    caption {
        padding: 8px; // same as th, etc.
        text-align: left;
        font-size: 24px;
        font-weight: bold;
        line-height: 24px;
    }
    th {
        text-align: left;
    }
}
.small-scores-container {
    max-height: 215px;
    overflow-y: auto;
    .team-score {
        display: block;

        border-top: 1px solid white;
        border-bottom: 1px solid $lightGrey;
        overflow: hidden;

        &:first-child {
            border-top: none;
        }
    }
    .team-photo, .team-name, .team-points {
        @include box-sizing(border-box);
        display: table-cell;
        vertical-align: middle;
        float: left;
        margin: 0;
        height: 65px;
        line-height: 65px;
        color: $grey;
        text-shadow: 1px 1px 0px #EEE;
        font-size: 100%;
    }
    .team-photo {
        width: 20%;
        border-right: 1px solid $lightGrey;
    }
    .team-name {
        width: 60%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 120%;
        padding-left: 5%;
        border-left: 1px solid white;
    }
    .team-points {
        width: 20%;
        text-align: right;
        padding-right: 5%;
    }
}

.team-score:hover {
    background-color:rgba(255, 255, 255, 0.3);
}

.mini-scores-container {
    text-align: center;
    max-height: 200px;
    overflow: auto;

    span {
        display: inline-block;
    }
    p:hover {
        background-color:rgba(255, 255, 255, 0.3);
        margin-left: 10px;
        margin-right: 10px;
        border-radius: 5px;
    }

    a:hover {
        color: $yellow;
    }
}
