// Media Q

@media (max-width: 1024px) {

    .user-navigation {
        margin-right: 70px;
    }

    .staticContainer {
        width: 680px !important;
    }

    #aboutContainer {
        width: 980px;
    }

    .bassEventMap {
        margin-left: -15px !important;
    }
    .bassEventAttendBackground {
        width: 610px;
        margin-left: 15px !important;
    }

    // Tab Content
    .tabbable {
        width: 700px;
    }

    .cutTourRight {
        width: 266px;
    }

    .cutOutContainerLeft {
        width: 100%;
    }

    .cutTeamLeft {
        width: 262px;
    }

    .cutTeamRight {
        width: 54px;
    }

    .tourPic {
        width: 352px;
    }

    .tabIconContainer {
        width: 225px;
    }

    .tabContBackground {
        width: 980px;
    }

    .teamListCover {
        width: 607px;
    }

    .tabMidLeftCont {
        width: 625px;
        margin-left: 10px;
    }

    .tabMidRightCont {
        width: 320px;
    }

    .tour-rank {
        padding: auto 0px;
    }

    .tour-progress {
        img {
            margin: 5px -3px;
        }
    }

    .ratingText {
        h4 {
            font-size: 20px;
        }
    }

    .thMiddle {
        margin-left: 92px;
    }

    .thRight {
        margin-right: 106px;
    }

    .topDarkBrown h2 {
        padding-right: 40px;
    }

    .alert-block.alert-error {
        width: 650px;
    }

}