// Media Q

@media (max-width: 1024px) {

    .user-navigation {
        margin-right: 70px;
    }

    .aboutTextContainer, .leaderListContainer, .newsListContainer, .anglersListContainer {
        width: 680px !important;
    }

    #aboutContainer {
        width: 980px;
    }

    .bassEventMap {
        margin-left: -60px !important;
    }

    // Tab Content
    .tabbable {
        width: 700px;
    }

    .cutTourRight {
        width: 265px;
    }

    .tourPic {
        width: 352px;
    }

    .tabIconContainer {
        width: 225px;
    }

    .teamContRight {
        width: 330px;
    }

    .tabContBackground {
        width: 980px;
    }

    .teamListCover {
        width: 607px;
    }

    .tabMidLeftCont {
        width: 625px;
        margin-left: 10px;
    }

    .tabMidRightCont {
        width: 320px;
    }

    .tour-rank {
        width: 340px;
        padding: auto 0px;
    }

    .tour-progress {
        img {
            margin: 5px -3px;
        }
    }

    .ratingText {

        h4 {
            font-size: 20px;
        }
    }

    .picBoxContainer {
        width: 340px;
    }

    .thMiddle {
        margin-left: 92px;
    }

    .thRight {
        margin-right: 106px;
    }

    .topDarkBrown h2 {
        padding-right: 40px;
    }

}