.tabContainer, .staticContainer, .findAnEvent {
    .alert {
        p {
            font-style: normal;
            color: inherit;
            text-shadow: none;
        }
    }
}

.tabContainer {
    .alert {
        margin: 16px 0 0 255px;
    }
}

.findAnEvent {
    .alert {
        margin: 0 0 16px;
    }
}

// pnotify-specific classes

.ui-pnotify-sticker {
    display: none;
}

.ui-pnotify-container {
    padding-right: 14px;
}
