/*Anglers, About, Leaderboard, News*/

#anglersContainer, #aboutContainer, #leaderContainer, #newsContainer, #invitationCont, #eventScoresContainer {
    width: 1000px;
    margin: 20px auto;
}

.staticContainer, .invitationText {
    width: 750px;
    margin-left: 275px;
}

.staticContainer {
    box-shadow: 0px 0px 20px black;
    border-radius: 4px;
}

.newsBotCont, .invitationText {
    min-height: 830px;
    background-color: $beige;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.brownCont {
    background-color: $beige;
}

.staticTopBar {
    height: 55px;
    width: 100%;
    position: left;

    h1 {
        font-size: 30px;
        float: left;
        padding: 7px 0;
        color: white;
        margin-left: 5px;

        a {
            font-family: inherit;
            color: inherit;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.iconAnglers {
    margin: 4px 20px;
    float: left;
}

.iconLeader {
    margin: 10px 20px;
    float: left;
}

.iconNews {
    margin: 3px 20px;
    float: left;
}

.anglersBotCont, .leaderBotCont, .eventScoreInnerContainer {
    clear: both;
    min-height: 765px;
    padding: 32px;
    background-color: #cccece;
    color: $darkGrey;
    overflow: hidden;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;

    p {
        font-size: 18px;
        color: inherit;
        text-shadow: none;
    }
    a {
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}

.anglersBotCont h1, .anglersBotCont h2, .anglersBotCont p, .aboutTextContainer h1, .aboutTextContainer p, .aboutPara h3, .leaderGroup p, .mediaCont h2, .mediaCont p, .mediaCont a  {
    font-style: normal;
    text-shadow:none;
    color: white;
}

.anglersBotCont {
    h1 {
        font-size: 30px;
        color: $darkGrey;
    }
}

.anglersGroup {
    a {
        color: $darkGrey;
        text-decoration: none;
    }

    p:hover {
        background-color:rgba(255, 255, 255, 0.5);
    }

    h2 {
        padding: 0 20px;
        font-size: 30px;
        background-color: $lightGrey;
        border-bottom: solid 1px $darkGrey;
    }

    p {
        padding: 0 20px;
        border-bottom: 1px dotted $darkGrey;

        &:last-child{
            border-bottom: none;
        }
    }
}

.anglersOrder {
    border: solid 1px $darkGrey;
    margin: 10px auto;
    h2 {
        text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.5);
    }
}

.aboutHead {
    padding: 20px 35px 15px 25px;
    border-left: 15px solid $brown;
    border-bottom: 1px dotted $darkGrey;

    h1 {
        color: $brown;
        font-size: 30px;
        line-height: 30px;
        text-shadow: none;
    }
}

.aboutPara {
    padding: 10px 40px 30px 40px;

    h3 {
        color: $darkGrey;
    }

    a {
        color: $brown;
    }

    ul {
        border-bottom: 1px dotted $darkGrey;

        li:last-child {
            margin-bottom: 20px;
        }
    }
}

.aboutPara, .leaderNumber, .leaderName, .leaderPoint {
    p {
        color: $darkGrey;
    }
}

.leaderGroup {
    background-image: image-url('leaderBack.jpg');
    display: inline-block;
    width: 97.5%;
    margin: 0px 10px;
}

.leaderNumber, .leaderName, .leaderPoint {
    p {
        line-height: 43px;
    }
}

.leaderNumber {
    float: left;
    width: 45px;
    margin-left: 20px;
}

.leaderName {
    float: left;
    width: 400px;
}

.leaderPoint {
    float: right;
    width: 75px;
}

.mediaCont {
    padding: 20px;
    border-bottom: solid 1px white;

    h2 {
        color: $grey;
    }

    p {
        margin: 1em 0;
        color: inherit;
        font-size: 18px;
    }

    a {
        color: #65421a;
    }
}

#aboutContainer, #anglersContainer, #leaderContainer, #newsContainer, #invitationCont {
    width: 1050px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 25px;

    @include background-image(linear-gradient(transparent, rgba(10, 10, 10, 0.5)));
}

.invitationText {
    h1 {
        font-size: 30px;
        text-shadow: none;
        color: $brown;
        padding: 20px 20px 0px 20px;
    }

    tr {
        float: left;
        clear: both;
        padding: 0 20px;
    }

    th {
        width: 300px;
        text-align: left;
        color: white;
    }

    td {
        width: 300px;
        color: white;
    }
}

span.team-name {
    a {
        color: $lightGrey
    }
}

.hide {
    display: none;
}
