/*Bootstrap Edits*/

.nav-tabs {
    border:none;
}

.tabbable {
    *zoom: 1;
    margin-left: 255px;
    box-shadow: 0px 0px 35px black;
}

.tabContainer {
    width: 1010px;
    margin-left: auto;
    margin-right: auto;
}

.tabContBackground {
    width: 1050px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    /* Safari 4-5, Chrome 1-9 */
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(transparent), to(rgba(10,10,10,0.5)));
    /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(top, transparent, rgba(10,10,10,0.5));
    /* Firefox 3.6+ */
    background: -moz-linear-gradient(top, transparent, rgba(10,10,10,0.5));
    /* IE 10 */
    background: -ms-linear-gradient(top, transparent, rgba(10,10,10,0.5));
    /* Opera 11.10+ */
    background: -o-linear-gradient(top, transparent, rgba(10,10,10,0.5));
}

.nav-tabs > li {
    margin-bottom: 0px;
    background-size: 100% 100%;
    background-position: 0;
    border: none;
    background-color: none;
    background-repeat: no-repeat;
    background-image: image-url('tabMiddle.png');
}

.nav-tabs > li > a {
    padding-top: 8px;
    padding-bottom: 8px;
    line-height: 20px;
    border:none;
}

.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    background: none;
    border: none;
}

.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus {
    color: #4f8d09;
    background-image: image-url('tabLeft.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 0;
    background-color: transparent;
    border: none;
    cursor: default;
}

/*Tab Edits*/

p {
    font-style: italic;
}

#tab1, #tab2 {
    height: 330px;
}

#tab1, #tab2, #tab3 {
    background-image: image-url('tabBackground.jpg');
    background-size: 100%;
}

#tab1 p, #tab1 h3, #tab1 h1 {
    color: #cbbdaa;
    text-shadow: none;
    font-family: 'Titillium Web', sans-serif;
}

#tab2 p, #tab2 h3 {
    color: #856a43;
    text-shadow: none;
}

.tabIconContainer {
    width: 245px;
    height: 40px;
}

.tabText {
    float: left;
    margin-left: 5px;
    margin-top: 10px;
}

#fishSolo {
    padding-left: 30px;
}

#setSolo {
    padding-left: 17px;
}

.iconSmall {
    float: left;
    margin-top: 4px;
    margin-left: 33px;
    margin-bottom: 0;
}

.iconSmallEvents {
    position: absolute;
    margin: 8px 18px;
}

.nav.nav-tabs {
    padding:0;
    margin: 50px 0 0 265px;
    text-align: center;
}

.nav.nav-tabs a {
    margin: 0;
    padding: 0;
    color: #c5af91;
    text-decoration: none;
}

.teamRegMod form{
    border-radius: 10px;
}

.accountInput {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    clear: both;
}

.overRank {
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
}

.headText {
    margin-top: 40px;
    clear: both;
}

.tour-rank {
    padding: 32px;
    font-size: 24px;
    text-align: center;
}

.tour-progress {
    margin: 32px 0 0;
    line-height: 0;
    font-size: 16px;
    border: 2px solid #cbbdaa;
    border-right: none;
    border-left: none;

    p {
        margin: 5px 0 0;
    }

    img {
        margin: 8px;
    }
}

.myTourCont {
    display: inline;
}

.tourContLeft {
    display: block;
    float: left;
    margin-left: 60px;
}

.tourContRight {
    float: right;
}

.picBoxContainer {
    position: relative;
    overflow: hidden;
    margin: 5px 5px 0 0;
}

.picBoxContainerLeft {
    position: relative;
    overflow: hidden;
}

.picBox {
    width: 356px;
    height: 200px;
}

.picBoxLeft {
    width: 350px;
    margin-left: 10px;
    margin-top: 10px;
}

.teamPic {
    position: absolute;
    overflow: hidden;
    height: 233px;
    width: 100%;
}

.tourPic {
    position: absolute;
    overflow: hidden;
    height: 220px;
    width: 100%;
}

.iconNoPic {
    position: absolute;
    width: 80px;
    margin: 232px 0 0 22px;
}

.cutOutContainer {
    position: absolute;
    z-index: 10;
    width: 370px;
    height: 330px;
    overflow: hidden;
}

.cutOutContainerLeft {
    position: absolute;
    z-index: 10;
    width: 370px;
    height: 400px;
    overflow: hidden;
}

.cutOutText {
    position: absolute;
    width: 200px;
    margin: 220px 0 0 130px;
    z-index: 15;
}

.cutOutText h2 {
    margin-bottom: 10px;
    font-size: 15px;
    text-shadow:none;
    color: #c5af91;
    font-family: 'Titillium Web', sans-serif;
}

.cutOutText p {
    font-size: 12px;
    line-height: 14px;
}

.cutOutTextTeam {
    position: absolute;
    width: 150px;
    margin: 230px 0 0 130px;
    z-index: 15;
}

.cutOutTextTeam h2 {
    margin-bottom: 5px;
    font-size: 15px;
    text-shadow:none;
    color: #856a43;
    font-family: titillium, sans-serif;
    font-weight: bold;
}

.cutOutTextTeam p {
    font-size: 12px;
    line-height: 14px;
}

.cutOutRight {
    position: absolute;
    margin-top: 190px;
    width: 100%;
    z-index: 10;
}

.cutOutLeft {
    position: absolute;
    margin-top: 215px;
    z-index: 1;
}

.manFishRight {
    position: absolute;
    margin: 40px auto auto 148px;
}

.manFishLeft {
    position: absolute;
    margin: 40px auto auto 160px;
}

.manFishTextRight {
    position: absolute;
    font-size: 12px;
    margin: 150px 0 0 108px;
}

.manFishTextLeft {
    position: absolute;
    font-size: 12px;
    margin: 150px 0 0 120px;
}

.tourContRightBot {
    margin-top: 20px;
}

.teamContLeftBot {
    margin-top: 7px;
}

.tourPersonText {
    margin-left: 140px;
    width: 210px;

}

    .tourPersonText h3 {
        font-size: 14px;
        line-height: 25px;
    }

    .tourPersonText p {
        font-size: 12px;
        line-height: 14px;
    }

.smallPicButton, .bigPicButton {
    position: absolute;
    z-index: 50;
}

.smallPicButton {
    width: 95px;
    height: 85px;
    margin-top: 225px;
    margin-left: 20px;

}

.bigPicButton {
    width: 370px;
    height: 190px;
}

.tourPerson {
    position: absolute;
    margin: -8px 0 0 8px;
    border-radius: 40px;
    box-shadow: 0 0 0 4px #e6d7c4, 0 0 0 6px #cebca5;
}

.tourPersonMain {
    float: left;
    margin: -5px 0 0 27px;
    border-radius: 42px;
    box-shadow: 0 0 0 6px #e7e0d8, 0 0 0 8px #cebca5;
}

.teamPerson {
    position: absolute;
    margin: -21px 0 0 14px;
    z-index: 11;
    border-radius: 48px;
    box-shadow: 0 0 0 4px #e7e0d8, 0 0 0 6px #cebca5;
}

.teamPersonText {
    margin-left: 135px;
    width: 150px;
    margin-bottom: 32px;
    z-index: 15;
}

.teamPersonText h3 {
    font-size: 14px;
}

.teamPersonText p {
    font-size: 12px;
    line-height: 14px;
}

.adImg2, .adImg3, .adImg4 {
    display: none;
}

/*Bottom Containers*/

.tabMiddleContainer {
    width: 1010px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    clear: both;
}

.tabMidLeftCont {
    width: 66.66%;
    display:block;
    float: left;
}

.upcomingTeamEvents, .leaderboard, .myRegion {
    width: 97%;
    height: 265px;
    margin: 25px 25px 25px 10px;
    background: #cccece;
    box-shadow: 0px 0px 35px black;

    p {
        font-size: 18px;
        padding: 16px;
        color: inherit;
        text-shadow: none;
    }
}

.teamEvents {
    width: 97%;
    height: 560px;
    margin: 25px 25px 25px 10px;
    box-shadow: 0px 0px 35px black;
}

.bottomBrown {
    background-image: image-url('doubleLineBackground.jpg');
    background-position: top;
    background-size: 100%;
    height: 460px;
}

.tabMidRightCont {
    width: 33.33%;
    display:block;
    float: left;
}

.seeAll {
    float: right;
}

.seeAll a{
    color: white;
    font-size: 15px;
    text-decoration: none;
}

.topDarkBrown h2, .topBlue h2, .topGreen h2{
    padding: 15px 65px 15px 70px;
    color: white;
    font-size: 17px;
    text-shadow: none;
}

.topDarkBrown, .topBlue, .topLightBrown, .topGreen {
    height: 50px;
    width: 100%;
    color: white;
    font-size: 20px;
}

.topDarkBrown, .newsTopBar {
    /* Safari 4-5, Chrome 1-9 */
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#6b4302), to(#5b3902));
    /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(top, #6b4302, #5b3902);
    /* Firefox 3.6+ */
    background: -moz-linear-gradient(top, #6b4302, #5b3902);
    /* IE 10 */
    background: -ms-linear-gradient(top, #6b4302, #5b3902);
    /* Opera 11.10+ */
    background: -o-linear-gradient(top, #6b4302, #5b3902);
}

.topBlue, .anglersTopBar, .leaderTopBar{
    /* Safari 4-5, Chrome 1-9 */
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0b597d), to(#083e58));
    /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(top, #0b597d, #083e58);
    /* Firefox 3.6+ */
    background: -moz-linear-gradient(top, #0b597d, #083e58);
    /* IE 10 */
    background: -ms-linear-gradient(top, #0b597d, #083e58);
    /* Opera 11.10+ */
    background: -o-linear-gradient(top, #0b597d, #083e58);
}

.topGreen {
    /* Safari 4-5, Chrome 1-9 */
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#589e0a), to(#3d6d07));
    /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(top, #589e0a, #3d6d07);
    /* Firefox 3.6+ */
    background: -moz-linear-gradient(top, #589e0a, #3d6d07);
    /* IE 10 */
    background: -ms-linear-gradient(top, #589e0a, #3d6d07);
    /* Opera 11.10+ */
    background: -o-linear-gradient(top, #589e0a, #3d6d07);
}

.teamContRight {
    display: block;
    overflow: hidden;
    float: right;
    width: 385px;
    height: 100%;
    /* Safari 4-5, Chrome 1-9 */
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eee9de), to(#e1cfb6));
    /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(top, #eee9de, #e1cfb6);
    /* Firefox 3.6+ */
    background: -moz-linear-gradient(top, #eee9de, #e1cfb6);
    /* IE 10 */
    background: -ms-linear-gradient(top, #eee9de, #e1cfb6);
    /* Opera 11.10+ */
    background: -o-linear-gradient(top, #eee9de, #e1cfb6);
}

.teamContLeft {
    display: block;
    float: left;
}

.teamContRight p, .teamContRight h3{
    width: 220px;
    margin-left: 100px;
}

.teamContRight p {
    font-size: 12px;
    line-height: 14px;
}

.teamContRight h3 {
    font-size: 14px;
}

.myCont {
    margin: 20px auto 20px auto;
    background: none;
}

table {
    width: 100%
}

.topLightBrown {
    background-color: #956923;
    width: 100%;
}

.topLightBrown th {
    margin-top: 15px;
    color: white;
    font-size: 15px;
}

.thMiddle {
    float: left;
    margin-left: 215px;
}

.thLeft{
    float: left;
    margin-left: 20px;

}

.thRight {
    float: right;
    margin-right: 115px;
}

.bottomGrey {
    height: 220px;
    overflow: scroll;
}

.bottomGreyFlat {
    height: 190px;
    padding: 15px;
    background-color: #cccece;
    background-image: image-url('iconMap.png');
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
}

.myCont h3 {
    padding-top: 3px;
}

.writeIcon {
    float: right;
    margin-top: -20px;
    margin-right: 10px;
}

.tourLure, .tourBoat {
    position: absolute;
    margin-top: 10px;
    margin-left: 15px;
}

.gearTextCont {
    width: 250px;
    margin: auto auto 0 100px;
}

.gearTextCont textarea {
    height: 60px;
    width: 250px;
    resize: none;
    font-size: 12px;
    border-radius: 5px;
    border: 1px solid #b29f84;
    background-color: #f6e4cc;
    box-shadow: inset 1px 1px 5px rgba(0,0,0,.24);
    color: black;
}

.gearTextCont input[placeholder] {
    font-size: 12px;
    color: black;
}

.teamListCover {
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    width: 653px;
    height: 510px;
}

.teamListCover h1 {
    text-align: center;
    margin-top: 180px;
    margin-bottom: 20px;
    color: white;
}

.teamListCover p {
    text-align: center;
    color: white;
}

.teamListCover a {
    color: white;
}

.teamList {
    display: inline-block;
    margin: 5px auto auto 60px;
    color: white;
}

.teamListM {
    display: inline-block;
    margin: auto 35px auto 140px;
}

.teamListR {
    float: right;
    margin: 5px 60px auto auto;
}

.dateRow {
    margin-left: 60px;
}

.eventRow {
    margin-left: 120px;
}

.pointRow {
    float: right;
    margin-right: 30px;
}

.teamList h3, .teamListM h3, .teamListR h3 {
    color: white;
}

.dateRow, .eventRow, .pointRow{
    display: inline-block;
}

.dateRow p, .eventRow p, .pointRow p{
    line-height: 39px;
    text-shadow: none;
    color: #62616e;
}

.greyCont {
    background-image: image-url('leaderBackground.jpg');
}

.faceCont {
    margin: 5px 0px 5px 20px;
}

.greyContText {
    float: right;
    width: 200px;
    margin-top: 15px;
    margin-right: 15px;
}

.greyCont p {
    display: inline;
    margin-right: 15px;
    color: #616262;
    text-shadow: none;
}

.bottomGreyPt {
    float: right;
}

#profile_shirt {
    clear: both;
    float: left;
}

.shirtSize {
    display: inline-block;
    margin-left: 10px;
}

tbody .odd, tbody .even {
    line-height: 38px;
}

.tdDate, .tdName, .tdStatus {
    color: #616262;
}

.tdDate {
    font-style: italic;
}

.tdName {
    font-weight: bold;
}

.table-container {
    overflow: scroll;
    height: 460px;
    background-color: #d6c7b8;
    padding: 0 20px;
    font-size: 14px;
}

table .even {
    background-color: #d0bca4;
    background-size: 100%;
}