@font-face {
    font-family: 'Aachen';
    src: font-url('AachenRegular.eot');
    src: font-url('AachenRegular.eot?#iefix') format('embedded-opentype'),
         font-url('AachenRegular.ttf') format('truetype');
 }

@mixin aachen {
    font-family: 'Aachen', sans-serif;
    font-weight: normal;
}

@mixin titillium {
    font-family: 'Titillium Web', sans-serif;
    font-weight: normal;
}

body {
    @include titillium;
}

.main-navigation a {
    @include aachen;
    font-size: 18px;
}

.leaderboard a, .myRegion a {
    font-family: inherit;
    color: inherit;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.bottomGreyFlat a {
    @include hide-text;
}
