@font-face {
    font-family: Aachen;
    src: url('/assets/AachenRegular.ttf'),
         url('/assets/AachenRegular.eot'); /* IE9 */
}

@font-face {
    font-family: Bebas;
    src: url('/assets/Bebas.ttf'),
         url('/assets/Bebas.eot'); /* IE9 */
}

body {
    font-family: 'Titillium Web', sans-serif;
}

.main-navigation a {
    font-family: Aachen, sans-serif;
    font-size: 18px;
    font-weight: bold;
}