@font-face {
    font-family: Aachen;
    src: url('/assets/AachenRegular.ttf'),
         url('/assets/AachenRegular.eot'); /* IE9 */
}

@font-face {
    font-family: Bebas;
    src: url('/assets/Bebas.ttf'),
         url('/assets/Bebas.eot'); /* IE9 */
}

@mixin aachen {
    font-family: Aachen, sans-serif;
    font-weight: normal;
}

@mixin titillium {
    font-family: 'Titillium Web', sans-serif;
    font-weight: normal;
}

body {
    @include titillium;
}

.main-navigation a {
    @include aachen;
    font-size: 18px;
}