<% content_for :mail_heading_image do %>
    <a href="http://bassprofishingtour.com/join" style="font-size: 20px;color:#ed1c24;">
        <%= image_tag 'email/introducing-the-newest-team-on-the-tour.jpg', style: 'display: block;', width: '600', height: '83', border: '0', alt: "Introducing the newest team on the tour" %>
    </a>
<% end %>

<% content_for :mail_heading do %>Hello,<% end %>

<p>Congratulations! Your teammate has now been registered and your team has been accepted into the Bass Pro Shops Fishing Tour.</p>
<p>Now that your team is fully registered, you or your teammate can sign up to fish in tour events, start collecting tour points and track your progress against your rivals.</p>
<p>Good luck in the tour and we&rsquo;ll see you on the water!</p>

<p style="text-align: center; font-size: 24px;font-weight: bold;margin: 30px;">
    <a href="http://bassprofishingtour.com" style="color:#ed1c24;text-decoration:none;">BassProFishingTour.com</a>
</p>