<% content_for :mail_heading_image do %>
    <a href="http://bassprofishingtour.com/join" style="font-size: 20px;color:#ed1c24;">
        <%= image_tag 'email/thanks-for-registering.jpg', style: 'display: block;', width: '600', height: '83', border: '0', alt: "Thanks for registering!" %>
    </a>
<% end %>

<% content_for :mail_heading do %>Hello,<% end %>

<p>Thanks for registering for the Bass Pro Shops Fishing Tour! You are one step closer to more than $25,000 in cash and prizes.</p>
<p>We've also sent an email to the teammate you identified. Once your team is fully registered, you'll be able to sign up for tour events and start moving up that leaderboard!</p>
<p>While waiting for your teammate to register, you can edit or complete your profile or browse other registered competitors.</p>
<p>We'll see you on the water!</p>
