<div class="progressBarContainer">
    <div class="progressBarCircle">
        <h2>1</h2>
    </div>
    <div class="progressBarCircle2 inactive">
        <h2>2</h2>
    </div>
    <div class="progressBarCircle3 inactive">
        <h2>3</h2>
    </div>
    <div class="progressBarCircle4 inactive">
        <h2>4</h2>
    </div>
    <div class="progressBarLineContainer">
        <div class="progressBarLine">
        </div>
    </div>
</div>